* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: -webkit-fill-available;
  height: 100%;
}

body.loader::before {
  content: '';
  width: inherit;
  height: inherit;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
  transition: inherit;
  -webkit-animation: body-loader 4.5s linear;
}

@-webkit-keyframes body-loader {
  0% {
    background-color: #eeeeee;
  }
  
  50% {
    background-color: #eeeeee;
  }

  100% {
    background-color: unset;
  }
}

body.loader.opacity::before {
  opacity: 0;
  transition: inherit;
}

a {
  color: unset;
}

.mac-os {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
  background-image: url('https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Timbuktu%2C%20Mali/Steve%20McCurry%20-%20The%20Sahel%2C%201986.%20A%20group%20of%20young%20men%20pushes%20a%20plane%20out%20of%20the%20mud.jpg');
  background-size: 100%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.mac-os .alert {
  width: -moz-fit-content;
  height: 11%;
  color: #000;
  text-align: center;
  background-color: #f6f5f6;
  border-radius: 6px;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 0px 5px #c7c6c6;
  font-family: ahamonomonospaced;
  padding: 4%;
  overflow: hidden;
}

.mac-os .menu-bar {
  width: -webkit-fill-available;
  height: 22px;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: inherit;
  background-size: inherit;
  font-size: 14px;
  box-shadow: inset 0 0 2.13px 0 rgba(0, 0, 0, 0.142), 0 0 0 0.71px #c1c1c1, 0 0 21.3px 0px rgba(0, 0, 0, 0.197);
  position: relative;
  flex-shrink: 0;
}

.mac-os .menu-bar::before {
  content: '';
  width: inherit;
  height: inherit;
  background-image: inherit;
  background-size: inherit;
  filter: blur(6px);
  display: block;
  position: absolute;
}

.mac-os .menu-bar::after {
  content: '';
  width: inherit;
  height: inherit;
  background-color: rgba(255, 255, 255, .9);
  position: absolute;
}

.mac-os .menu-bar * {
  z-index: 1;
}

.mac-os .panel {
  width: fit-content;
  height: inherit;
  display: inline-flex;
  position: absolute;
}

.mac-os .panel.left {
  left: 10px;
}

.mac-os .panel.right {
  right: 10px;
}

.mac-os .panel > * {
  width: inherit;
  height: inherit;
  font-size: unset;
  line-height: 1.6;
  display: inline-block;
  position: relative;
  padding: 0px 10px;
}

.mac-os .panel > span {
  user-select: none;
}

.mac-os .menu-bar .icons-b {
  width: 35px;
}

.mac-os .menu-bar .icons-b::before {
  width: inherit;
  height: inherit;
  background-size: 15px;
}

.mac-os .menu-bar .name {
  font-weight: bold;
}

.mac-os .menu-bar .notification-center {
  width: 38px;
}

.mac-os .menu-bar .notification-center.icons-b::before {
  background-size: 18px;
}

.mac-os .menu-bar .selected {
  background-color: #026cea;
  color: #ffffff;
}





/* DESKTOP */
.mac-os .desktop {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow: hidden;
  position: relative;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.mac-os .desktop .files-row {  
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow: scroll;
  display: flex;
  flex-flow: column wrap;
  align-content: space-evenly;
} 

.mac-os .desktop .file {
  width: 110px;
  height: 110px;
  width: 130px;
  height: 130px;
  display: block;
  margin: 10px;
/*   border: 1px solid #000000; */
}

.mac-os .desktop .file.selected {
  opacity: unset;
}

.mac-os .desktop .file * {
  user-select: none;
}

.mac-os .file .thumbnail-container {
  width: 70px;
  height: 70px;
  display: flex;
  position: relative;
  margin: auto;
}

.mac-os .file.selected .thumbnail-container {
  outline: #a6a6a6 auto 5px;
  border: 1px solid #a6a6a6;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .5);
}

.mac-os .file .thumbnail-container .file-type {
  width: fit-content;
  height: fit-content;
  font-size: 10px;
  text-shadow: 0px 0px 4px #545454;
}

.mac-os .file .thumbnail-container .file-type.icons-b {
  width: 40px;
  height: 40px;
}

.mac-os .file .thumbnail-container .file-type.soundcloud::before {
  background-image: url('https://cdn2.iconfinder.com/data/icons/minimalism/512/soundcloud.png');
  background-size: contain;
}

.mac-os .file .thumbnail-container .thumbnail {
  width: auto;
  height: auto;
  max-width: 60px;
  max-height: 60px;
  border: 2px solid #ffffff;
  box-shadow: 0px 1px 5px #4b4b4b;
  margin: auto;
}

.mac-os .file.mp3 .thumbnail-container .thumbnail {
  border: none;
}

.mac-os .file .title-container {
  padding: 2px;
  overflow: hidden;
  margin-top: 4px;
}

.mac-os .file .title {
  width: fit-content;
  height: fit-content;
  max-height: 16px;
  display: block;
  display: -webkit-box;
  padding: 2px 4px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1;
  text-shadow: 0px 0px 4px #000000;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
  margin: auto;
}

.mac-os .file.selected .title {
  outline: #0168da auto 5px;
  border-radius: 3px;
  background-color: #0168da;
  text-shadow: unset;
}

.mac-os .file.selected .title:nth-child(2) {
  border-radius: 0px 0px 3px 3px;
}




/* SCREENSAVER CREDITS */
.mac-os .screensaver-credits {
  width: 212px;
  height: 20px;
  border-radius: 2px;
  box-shadow: 0px 0px 5px #c7c6c6;
  background-color: #ffffff;
  padding: 4px;
  font: 500 12.4px/normal sans-serif, helvetica, 'ahamonomonospaced';
  color: #747374;
  letter-spacing: 0.1px;
  line-height: 1;
  top: auto;
  right: auto;
  left: -218px;
  transition: all 200ms ease-in-out;
}

.mac-os .screensaver-credits.show {
  left: 0px;
}




/* NOTIFICATION CENTER MENU */
.mac-os .embed-window  {
  width: 248px;
  height: -webkit-fill-available;
  height: 100%;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background-color: #ffffff;
  background-color: #252525;
  left: auto;
  right: -258px;
  transition: all 200ms ease-in-out;
}

.mac-os .embed-window.cover::before {
  content: '';
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: inherit;
  background-image: url('https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Social%20Media%20Icons/Twitter%20-%20White%201.png');
  background-size: 10%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 1;
  z-index: 1;
}

.mac-os .embed-window.slide-out {
  right: 0px;
}

.mac-os .embed-window a.twitter-timeline {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: inherit;
  position: absolute;
}




/* TEXT EDITOR */
.text-editor {
  width: 80%;
  height: 86%;
  max-width: 800px;
  max-height: 650px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 5px #c7c6c6;
  background-color: #f6f5f6;
  display: flex;
  flex-direction: column;
  opacity: 1;
  z-index: 1;
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

.text-editor.right-corner {
  max-width: 420px;
  top: 10px;
  right: 10px;
  bottom: auto;
  left: auto;
}

.text-editor.scale-down {
  transform: scale(0);
}




/* HEADER */
.text-editor .header {
  width: 100%;
  height: 35px;
  background-color: #f6f5f6;
  border-bottom: none;
  position: relative;
  flex-shrink: 0;
}



/* TOP BAR */
.text-editor .header .top-bar {
  width: 98.598%;
  height: 20px;
  height: fit-content;
  display: inline-flex;
}




/* MAIN CONTROLS */
.text-editor .header .top-bar .main-controls {
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  right: auto;
  left: 8px;
  flex-shrink: 0;
  margin: auto auto auto 8px;
}

.text-editor .header .main-controls button {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #acabac;
  position: relative;
  margin: auto auto auto 0px;
}

.text-editor .header .main-controls .close.grey::before {
  background-image: url('https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Apple%20Media%20File%20Controls/AMF%20-%20Close%20Icon/Close%20-%20Grey%203.png');
  opacity: 1;
}




/* TITLE */
.text-editor .header .top-bar .title {
  width: fit-content;
  height: fit-content;
  color: #747374;
  text-align: center;
  font: 500 12.4px/normal sans-serif, helvetica, 'ahamonomonospaced';
  letter-spacing: 0.1px;
  margin: auto;
  flex-shrink: 1;
  white-space: nowrap;
}




/* CALL TO ACTION */
.text-editor .header .top-bar .call-to-action-controls {
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  margin: auto 4px auto auto;
  flex-shrink: 0;
  position: relative;
}

.text-editor .header .call-to-action-controls > button {
  width: fit-content;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: linear-gradient(#fcfcfc, #f1f1f1);
  position: relative;
  margin: auto;
  padding: 2px 8px;
  color: #000;
  margin-left: 4px;
}

.text-editor .header .call-to-action-controls > button.icons-b {
  width: 36px;
}

.text-editor .header .call-to-action-controls > button.icons-b::before {
  background-size: 11px;
}

.text-editor .header .call-to-action-controls button.search::before {
  background-image: url('https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/App%20Design%20References/Mac%20OS/Icons/Menu%20Bar%20Search/Search%20-%20Black%20-%204.png');
}

.text-editor .header .call-to-action-controls button.share::before {
  background-image: url('https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Share%20Icon/Share%20-%20Old%20-%201.png');
}




/* SEARCH BAR */
.searchbar {
  width: 50%;
  height: 26px;
  max-width: 240px;
  outline: none;
  border: 2px solid #dddcdc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #c7c6c6;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  margin: auto;
  z-index: 2;
  -webkit-appearance: none;
  appearance: none;
}




/* SOCIAL SHARE */
.social-share-container {
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0px 0px 6px #adadad;
  background-color: #ffffff;
  top: 26px;
  bottom: auto;
  left: auto;
  display: flex;
  flex-direction: column;
}

.social-share-container::before {
  content: "";
  width: fit-content;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 5px solid white;
  display: block;
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  left: 0;
  z-index: 1;
}

.social-share-container button {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  display: block;
  position: relative;
  margin: 5.2px auto auto auto;
  margin: 8px;
}

.social-share-container button:first-of-type {
  margin-bottom: 0px;
}

.social-share-container button:last-of-type {
  margin-top: 0px;
}




/* CONTENT CONTAINER */
.text-editor .content-container {
  width: -webkit-fill-available;
  height: 100%;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  overflow: scroll;
  background-color: #ffffff;
  padding: 5%;
  font-family: ahamonomonospaced;
  font-size: 14px;
  line-height: 1.4;
  margin: 2px;
}

.text-editor .content-container p::selection { 
  background-color: #000;
  color: #fff; 
}

.text-editor .content-container p:first-of-type {
  margin-top: 0px;
}

.text-editor .content-container p:last-of-type {
  margin-bottom: 0px;
}

.text-editor .content-container .twitter-video {
  width: 100%;
  height: auto;
  min-width: auto !important;
  margin: auto !important;
}

.text-editor .content-container .twitter-embed {
  width: 100%;
  height: fit-content;
  position: relative;
}

.text-editor .content-container .media-container {
  width: -webkit-fill-available;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.twitter-embed .media-container.video::before {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  height: auto;
  background-size: 38px;
  z-index: 2;
}

.twitter-embed .media-container.video.poster::after {
  content: '';
  width: -webkit-fill-available;
  height: 100%;
  border-radius: inherit;
  background-image: url('https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/Poster/Steve%20Jobs%20-%201.png');
  background-image: url('https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/Poster/Steve%20Jobs%20At%20NeXT.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  margin: auto;
  z-index: 1;
}

.twitter-embed .media-container.video.playing:before {
  background-color: rgba(206, 206, 206, .2);
  background-image: none;
}

.twitter-embed .media {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  display: flex;
}

.twitter-embed .media video {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: relative;
}

/* VIDEO CONTROLS */
.twitter-embed .media .controls {
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0px;
}

.twitter-embed .media .twitter-b {
  width: 40px;
  height: 40px;
  background-color: unset;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}

.twitter-embed .media .twitter-b::before {
  background-size: 50%;
}




.text-editor .content-container p span.highlight { 
  width: fit-content;
  height: fit-content;
  background-color: #000;
  color: #fff; 
}

.active:after {
  content: '|';
  color: #000;
}
  
.text-editor .content-container .image-preview {
  width: auto;
  height: 90%;
  display: block;
  margin: auto;
}
