* {
  -webkit-transition: all 200ms ease-in-out;
}

.active::after {
  content: "|";
}
 
/* LOADER */
.loader {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #111111;
  color: #ffffff;
  z-index: 9;
}

.loader::before {
  transition: all 1s ease-in-out;
}

.loader.covered::before {
  content: '';
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: #111111;
/*   background-color: red; */
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: inherit;
  left: inherit;
  z-index: 9;
  opacity: 1;
}

.loader.uncovered::before {
  content: '';
  opacity: 0; 
}

/* TRANSITION UP */
.loader.hide {
/*   -webkit-animation: loader-hide 3s linear 1s; */
  -webkit-animation: loader-hide 3s linear;
}

@-webkit-keyframes loader-hide {  
  0% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, -110%);
  }
}



/* LOADER - GTA */
.loader .gta {
  width: inherit;
  height: inherit;
  background-color: #111;
  position: inherit;
}

.loader .gta * {
  background-repeat: no-repeat;
}


/* FOREGROUND LAYER */
.loader .gta .foreground-layer {
  width: inherit;
  height: inherit;
  z-index: 1;
}

.computer .loader .gta .foreground-layer {
  -webkit-transform: translateZ(950px);
}

.loader .gta .foreground-layer .text-logo.gta-5 {
  width: 180px;
  height: 180px;
  background-image: url('https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/Loader/Gta%20Loader/5/Logo%20-%201%20-%20Comp.png');
  background-size: contain;
  background-position: bottom;
  top: auto;
  right: auto;
  bottom: 20px;
  left: 20px;
}

.loader .gta .foreground-layer .text-logo.kanye-analysis {
  width: 210px;
  height: fit-content;
  font-family: 'Pricedown', sans-serif;
  font-size: 55px;
  line-height: 0.85;
  text-transform: lowercase;
  text-shadow: none;
  -webkit-text-stroke: 2.4px black;
  visibility: hidden;
}

.loader .gta .foreground-layer .text-logo.kanye-analysis.active::after {
  color: #eee;
}

.loader .gta .foreground-layer .icon-logo {
  width: 40px;
  height: 40px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  background-size: contain;
  background-position: center;
}

.loader .gta .foreground-layer .icon-logo.rockstar {
  background-image: url('https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/Loader/Gta%20Loader/Rockstar/Logo%20-%201%20-%20Comp.png');
}

.loader .gta .foreground-layer .icon-logo.good-music {
  background-image: url('https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/Loader/Gta%20Loader/Kanye/Logo%20-%201%20-%20Comp.png');
}

/* INFORMATION CONTAINER */
.loader .gta .foreground-layer .info-container {
  width: auto;
  height: auto;
  border: 4px solid #000000;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgba(17, 17, 17, .7);
  padding: 1%;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.3;
  color: #ffffff;
  top: auto;
}

.loader .gta .info-container.low-power-mode-alert,
.loader .gta .info-container.leave-twitter {
  width: 200px;
  display: none;
}

.loader .gta .info-container.low-power-mode-alert {
  right: auto;
  bottom: 200px;
  left: 20px;
}

.loader .gta .info-container.leave-twitter {
  right: 20px;
  bottom: 116px;
  left: auto;
}

.loader .gta .info-container.loading-indicator {
  background-color: #000000;
  right: 20px;
  bottom: 70px;
  left: auto;
}

.loader .gta .info-container.skip-loader {
/*   width: 120px; */
  top: 20px;
  right: 20px;
  bottom: auto;
  left: auto;
  display: none;
}

/* INFORMATION CONTAINER ICONS */
.loader .gta .foreground-layer .info-container .icons-b {
  width: 14px;
  height: 14px;
/*   background-color: red; */
  position: relative;
  display: inline-block;
  margin-top: auto;
  margin-right: 4px;
  margin-bottom: -3px;
  margin-left: 4px;
}

.loader .gta .info-container .icons-b.battery.low-power-mode {
  width: 18px;
  margin-right: 0px;
  margin-left: 0px;
}

.loader .gta .info-container .icons-b.play-station-x {
  margin-left: 0px;
}

.loader .gta .info-container .icons-b::before {
  width: inherit;
  height: inherit;
  background-size: contain;
} 

.loader .gta .info-container .icons-b.info::before {
  background-image: url('https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Information/Information%20-%20White%20-%203.png');
}

.loader .gta .info-container .icons-b.extra-options::before {
  background-image: url('https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Twitter%20Icons/Regular%20Mode%20Icons/Extra%20Options/1.png');
}

.loader .gta .info-container .icons-b.battery.low-power-mode::before {
  background-image: url('https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/iOS/Battery/Battery%20-%20Low%20Power%20Mode%20-%202.png');
}

.loader .gta .info-container .icons-b.play-station-x::before {
  background-image: url('https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Play%20Station/X%20Button%20-%202.png');
}

.loader .gta .info-container .icons-b.loading-circle::before {
  background-image: url('https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Loading%20Indicator/Fading%20Circle%20-%201.gif');
}

.loader .gta .info-container .active::after {
  color: #fff;
}


/* BACKGROUND LAYER */
.loader .gta .background-layer {
  width: inherit;
  height: inherit;
}

.loader .gta .background-and-character-container {
  width: inherit;
  height: inherit;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.loader .gta .background-and-character-container.show {
  opacity: 1;
}

.loader .gta .background-and-character-container div {
  background-size: cover;
  background-position: center;
}
 

/* BACKGROUND */ 
.loader .gta .background-and-character-container .background {
  background-position: center;
}

.computer .loader .gta .background-and-character-container .background {
  width: 80%;
  height: 80%;
  background-size: contain;
  transform: perspective(211px) rotateX(-1deg) rotateY(2deg) rotateZ(1deg); 
  transform-origin: center center 0px;
  -webkit-animation: computer-background-perspective 22.5s linear;
/*   z-index: 1; */
}

@-webkit-keyframes computer-background-perspective {  
  0% {
    transform: perspective(122px) rotateX(-3deg) rotateY(0deg) rotateZ(-2deg);
  }

  100% { 
    transform: perspective(211px) rotateX(-1deg) rotateY(2deg) rotateZ(1deg);
  }
}

.mobile .loader .gta .background-and-character-container .background {
  background-size: cover;
}

/* BACKGROUND - IMAGES */
.loader .gta .michael.background-and-character-container .background {
  background-image: url('https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/Loader/Gta%20Loader/5/Background%20-%20Michael%20-%20Comp.jpg');
}

.loader .gta .franklin.background-and-character-container .background {
  background-image: url('https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/Loader/Gta%20Loader/5/Background%20-%20Franklin%20And%20Chop%20-%20Comp.jpg');
}

.loader .gta .trevor.background-and-character-container .background {
  background-image: url('https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/Loader/Gta%20Loader/5/Background%20-%20Trevor%20-%20Comp.jpg');
}

.loader .gta .kanye.background-and-character-container .background {
  background-image: url('https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/Loader/Gta%20Loader/Kanye/Background%20-%20Room%203%20-%20Comp.jpg');
}

.mobile .loader .gta .background-and-character-container .background.move {
  background-position-x: 60%;
  -webkit-animation: background-and-character-move 5s linear;
}

.mobile .loader .gta .kanye.background-and-character-container .background.move {
  -webkit-animation: background-and-character-move 3s linear;
} 

 

/* CHARACTER */ 
.loader .gta .background-and-character-container .character {
  background-size: contain;
  background-position: bottom;
}

.computer .loader .gta .background-and-character-container .character {
  background-size: auto 95%;
  -webkit-transform: translateZ(900px);
} 

.mobile .loader .gta .background-and-character-container .character {
  background-size: 90% auto;
}

/* CHARACTER - IMAGES */
.loader .gta .michael.background-and-character-container .character {
  background-image: url('https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/Loader/Gta%20Loader/5/Michael%20-%201%20Comp.png');
}

.loader .gta .franklin.background-and-character-container .character {
  background-image: url('https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/Loader/Gta%20Loader/5/Franklin%20-%201%20Comp.png');
}

.loader .gta .trevor.background-and-character-container .character {
  background-image: url('https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/Loader/Gta%20Loader/5/Trevor%20-%202%20Comp.png');
}

.loader .gta .kanye.background-and-character-container .character {
  background-image: url('https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/Loader/Gta%20Loader/Kanye/Character%20-%202%20-%20Comp.png');
}

.loader .gta .background-and-character-container .character.move {
  background-position-x: 60%;
  -webkit-animation: background-and-character-move 5s linear;
} 

.loader .gta .kanye.background-and-character-container .character.move {
  -webkit-animation: background-and-character-move 3s linear;
} 

@-webkit-keyframes background-and-character-move {  
  0% {
    background-position-x: 50%;
  }

  100% { 
    background-position-x: 60%;
  }
}

.mobile .loader .kanye.background-and-character-container .character {
  background-size: auto 90%;
}

@-webkit-keyframes skip-loader {  
  0% {
    background-position-x: 60%;
  }

  100% { 
    background-position-x: 60%;
  }
}




/* MAC OS */
.mac-os {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
  background-image: url('https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Timbuktu%2C%20Mali/Steve%20McCurry%20-%20The%20Sahel%2C%201986.%20A%20group%20of%20young%20men%20pushes%20a%20plane%20out%20of%20the%20mud.jpg');
  background-size: 100%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.mac-os::after {
  content: '';
  position: absolute;
  top: 0px;
  transition: inherit;
}

.mac-os.dim::after {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
}

.mac-os .browser-alert {
  width: -moz-fit-content;
  height: 11%;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 0px 5px #c7c6c6;
  background-color: #f6f5f6;
  padding: 4%;
  font-family: ahamonomonospaced;
  color: #000;
  text-align: center;
}

  


/* MENU BAR */
.mac-os .menu-bar {
  width: -webkit-fill-available;
  height: 22px;
  box-shadow: inset 0 0 2.13px 0 rgba(0, 0, 0, 0.142), 0 0 0 0.71px #c1c1c1, 0 0 21.3px 0px rgba(0, 0, 0, 0.197);
  background-color: rgba(255, 255, 255, 0.9);
  background-image: inherit;
  background-size: inherit;
  font-size: 14px;
  position: relative;
  flex-shrink: 0;
  z-index: 3;
}

.mac-os .menu-bar::before {
  content: '';
  width: inherit;
  height: inherit;
  background-image: inherit;
  background-size: inherit;
  filter: blur(6px);
  display: block;
  position: absolute;
}

.mac-os .menu-bar::after {
  content: '';
  width: inherit;
  height: inherit;
  background-color: rgba(255, 255, 255, .9);
  position: absolute;
}

.mac-os .menu-bar * {
  z-index: 1;
}

.mac-os .menu-bar .panel {
  width: fit-content;
  height: inherit;
  display: inline-flex;
  position: absolute;
}

.mac-os .menu-bar .panel.left {
  left: 10px;
}

.mac-os .menu-bar .panel.right {
  right: 10px;
}

.mac-os .menu-bar .panel > * {
  width: inherit;
  height: inherit;
  padding: 0px 10px;
  font-size: unset;
  line-height: 1.6;
  display: inline-block;
  position: relative;
}

.mac-os .menu-bar .panel > span {
  user-select: none;
}

.mac-os .menu-bar .panel > .icons-b {
  width: 35px;
}

.mac-os .menu-bar .panel > .icons-b::before {
  width: inherit;
  height: inherit;
  background-size: 15px;
}

.mac-os .menu-bar .panel .name {
  font-weight: bold;
}

.mac-os .menu-bar .panel .notification-center {
  width: 38px;
}

.mac-os .menu-bar .panel .notification-center.icons-b::before {
  background-size: 18px;
}

.mac-os .menu-bar .panel .selected {
  background-color: #026cea;
  color: #ffffff;
}




/* DESKTOP */
.mac-os .desktop {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow: hidden;
  position: relative;
/*   transform: translate(0); */
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.mac-os .desktop .files-row {  
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow: scroll;
  display: flex;
  flex-flow: column wrap;
  align-content: space-evenly;
} 

.mac-os .desktop .file {
  width: 130px;
  height: 130px;
  display: block;
  margin: 10px;
/*   z-index: 3; */
}

.mac-os .desktop .file * {
  user-select: none;
}

.mac-os .desktop .file a {
  display: block;
}

.mac-os .file .thumbnail-container {
  width: 70px;
  height: 70px;
  display: flex;
  position: relative;
  margin: auto;
}

.mac-os .file.selected .thumbnail-container {
/*   outline: #a6a6a6 auto 5px; */
  border: 1px solid #a6a6a6;
  border-radius: 2px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .5);
}

.mac-os .file .thumbnail-container .file-type-indicator {
  width: fit-content;
  height: fit-content;
  font-size: 10px;
  text-shadow: 0px 0px 4px #545454;
}

.mac-os .file .thumbnail-container .file-type-indicator.icons-b {
  width: 40px;
  height: 40px;
}

.mac-os .file.soundcloud .thumbnail-container .file-type-indicator::before {
  background-size: contain;
}

.mac-os .file .thumbnail-container .thumbnail {
  width: auto;
  height: auto;
  max-width: 60px;
  max-height: 60px;
  border: 2px solid #ffffff;
  box-shadow: 0px 1px 5px #4b4b4b;
  margin: auto;
}

.mac-os .file.audio .thumbnail-container .thumbnail {
  border: none;
}

.mac-os .file .title-container {
  overflow: hidden;
  overflow: scroll;
  padding: 2px;
  margin-top: 4px;
}

.mac-os .file .title {
  width: fit-content;
  height: fit-content;
/*   max-height: 16px; */
  display: -webkit-box;
  padding: 2px 4px;
/*   padding: 1px 4px; */
/*   padding: 3px 5px; */
  color: #ffffff;
  font-size: 12px;
  line-height: 1;
  text-shadow: 0px 0px 4px #000000;
  text-align: center;
  white-space: nowrap;
  margin: auto;
}

.mac-os .file.selected .title {
/*   outline: #0168da auto 5px; */
  border: 1px solid #0168da;
  border-radius: 3px;
  background-color: #0168da;
  text-shadow: unset;
}

.mac-os .file.selected .title:nth-child(2) {
  border-radius: 0px 0px 3px 3px;
}




/* SCREENSAVER CREDITS */
.mac-os .screensaver-credits {
  width: auto;
  height: 20px;
  border-radius: 0px 5px 0px 0px;
  overflow: hidden;
  box-shadow: 0px 0px 5px #c7c6c6;
  background-color: rgba(255, 255, 255, .9);
  padding: 4px;
  font: 500 12.4px/normal sans-serif, helvetica, 'ahamonomonospaced';
  color: #000000;
  letter-spacing: 0.1px;
  line-height: 1;
  top: auto;
  right: auto;
  left: -218px;
}

.mac-os .screensaver-credits.show {
  left: 0px;
}




/* NOTIFICATION CENTER MENU */
.mac-os .embed-window  {
  width: 248px;
  height: -webkit-fill-available;
  height: 100%;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background-color: #252525;
  right: -258px;
  left: auto;
}

.mac-os .embed-window.cover::before {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: inherit;
  background-size: 10%;
  z-index: 1;
}

.mac-os .embed-window.slide-out {
  right: 0px;
}

.mac-os .embed-window a.twitter-timeline {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: inherit;
  position: absolute;
}



 
/* TEXT EDITOR */
.text-editor {
  width: 80%;
  height: 90%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px #333;
  background: rgba(0, 0, 0, .8);
  display: flex;
  flex-direction: column;
  bottom: auto;
  z-index: 2;
}

.text-editor.dragged {
  height: 90% !important;
}

.computer .text-editor {
/*   max-width: 800px;
  max-height: 650px;
  min-width: 328px;
  min-height: 20%; */
  
  min-width: 328px;
  min-height: 20%;
  right: auto;
  max-width: 64%;
  max-width: 55%;
}

.mobile .text-editor {
  width: 80%;
}

.mobile.portrait .text-editor {
  top: 10px;
  right: 10px;
  left: auto;
}

.mobile.landscape .text-editor,
.mobile.landscape .text-editor.video-player {
  width: 70%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.text-editor.hide {
  transform: scale(0); 
}

.text-editor ::selection,
.text-editor .highlight { 
  background-color: rgba(255, 255, 255, .9);
  color: rgba(0, 0, 0, .8);
}




/* BLUR */
.text-editor > .blur {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  filter: blur(20px) brightness(.2);
  position: absolute;
  transition: unset;
}

.text-editor > .blur.cover {
  background-size: cover;
}
 
.text-editor > .blur.contain {
  background-size: contain;
}




/* HEADER */
.text-editor .header {
  width: 100%;
  height: 35px;
  border-bottom: none;
  background-color: transparent;
  flex-shrink: 0;
  z-index: 3;
}

.text-editor > .header {
  position: relative;
}

.text-editor .header .top-bar {
  width: 98.598%;
  
  width: 100%; 
  height: fit-content;
/*   padding: 0px 0.701%;
  
  padding: 0px 2%; */
  display: inline-flex;
}




/* MAIN CONTROLS */
.text-editor .header .top-bar .main-controls {
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  right: auto;
  margin: auto auto auto 11.75px;
  flex-shrink: 0;
}

.text-editor .header .main-controls button {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, .1);
  position: relative;
  margin: auto auto auto 0px;
}

.text-editor .header .main-controls .icons-b::before {
  background-size: 6.58px;
}

.text-editor .header .main-controls .close.grey::before {
  opacity: 1;
}




/* TITLE */
.text-editor .header .top-bar .title {
  width: fit-content;
  height: fit-content;
  max-width: 67%;
  overflow: hidden;
  font: 500 12.4px/normal sans-serif, helvetica, 'ahamonomonospaced';
  letter-spacing: 0.1px;
  color: #ffffff;
  text-shadow: 0px 0px 4px #545454;
  text-align: center;
  margin: auto;
  flex-shrink: 1;
  white-space: nowrap;
}

.text-editor .header .top-bar .title .title-scroll {
  width: fit-content;
  height: fit-content;
  white-space: nowrap;
  display: block;
}

.text-editor .header .top-bar .title .title-scroll.ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-editor .header .top-bar .title .title-scroll.overflow {
  margin-right: 50%;
  display: inline-block;
  -webkit-animation: title-overflow 10s linear infinite;
}

@-webkit-keyframes title-overflow {
  0%, 20%, 100% { 
    transform: translateX(0%); 
  }
  
  70% {
    transform: translateX(-145%);  
  }

  70.0001% {
    transform: translateX(0%); 
  }
}




/* CALL TO ACTION */
.text-editor .header .call-to-action-controls {
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  flex-shrink: 0;
}

.text-editor .header .call-to-action-controls > button {
  width: fit-content;
  height: 20px;
  border-radius: 4px;
  padding: 2px 8px;
  color: #ffffff;
  position: relative; 
  margin: auto auto auto 4px;
} 

.text-editor .header .call-to-action-controls > button.icons-b {
  width: 36px;
}


/* CALL TO ACTION IN MAIN HEADER */
.text-editor > .header .call-to-action-controls {
  margin: auto 4px auto auto;
  margin: auto 0px auto auto;
  margin: auto 8px auto auto;

  position: relative;
}

.text-editor > .header .call-to-action-controls > button {
  background: rgba(255, 255, 255, .1);
} 

.text-editor > .header .call-to-action-controls > button.icons-b::before {
  background-size: 11px;
}




/* SEARCH BAR */
.text-editor .search-bar {
  width: 50%;
  height: 26px;
  max-width: 240px;
  outline: none;
/*   border: 2px solid #ffffff; */
  border-radius: 5px;
  border: unset;
  /* box-shadow: 0px 0px 5px #c7c6c6; */
  background-color: rgba(255, 255, 255, .1);
  color: #ffffff;
  text-align: center;
  display: flex;
  margin: auto;
  -webkit-appearance: none;
  z-index: 2;
}

.text-editor .search-bar.hide {
  transform: translate(0px, -120%);
}

.text-editor .search-bar::-webkit-input-placeholder {
  color: white;
}




/* SOCIAL SHARE */
.text-editor .social-share-container {
  width: 104px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
}

.text-editor .social-share-container.hide {
  transform: translate(0px, -110%);
}

.text-editor .social-share-container button {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  background: rgba(255, 255, 255, .2);
  display: block;
  position: relative;
  margin: auto;
}


 
 
/* CONTENT CONTAINER */
.text-editor .parent-container {
  width: -webkit-fill-available;
  height: 100%;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5%;
  font-family: ahamonomonospaced;
  font-size: 14px;
  line-height: 1.4;
  word-break: break-word;
  position: relative;
  margin: 2px;
}

.text-editor .parent-container .scroll-container {
  width: inherit;
  height: fit-content;
  overflow: scroll;
}




/* PARAGRAPH */
.text-editor .scroll-container p {
  padding: 0px 2px;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  text-shadow: 0px 0px 4px #000000;
  visibility: hidden;
  display: none;
}

.text-editor .scroll-container p.active::after {
  color: #707070;
}
 
.text-editor .scroll-container p.introduction {
  margin-top: 0px;
}


/* IMAGE SLIDE */ 
.text-editor .scroll-container .image-slide {
  width: 74%;
  border-radius: 5px;
  right: 100%;
  left: auto;
  display: none;
}

.text-editor .scroll-container .image-slide.show {
  display: inline;
  z-index: 10;
  -webkit-animation: image-slide-transition 4.5s ease-in-out;
}

.text-editor .scroll-container .image-slide.show.i-know-you-mad {
  -webkit-animation: image-slide-transition 7s ease-in-out infinite;
}
 
@-webkit-keyframes image-slide-transition {
  0% {
    right: -74%;
  }
  
  30%, 70% {
    right: 5%;
  }
  
  100% {
    right: 100%;
  }
}

.text-editor .scroll-container p.conclusion {
  margin-bottom: 0px;
}




/* MEDIA CONTAINER */
.text-editor .media-container {
  width: 100%;
  height: fit-content;

/*   height: 244px;
  height: 100%; */
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .1);
  margin: auto;
  position: relative;
  cursor: pointer;
  display: none;
}

.text-editor .media-container .header {
  bottom: auto;
  z-index: 3;
}

.text-editor .media-container .header.hide {
  transform: translate(0%, -100%);
}

.text-editor .media-container .header .top-bar {
  height: inherit;
}

.text-editor .media-container .top-bar .call-to-action-controls {
  height: inherit;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  padding: 0px 8px;
}

.text-editor .media-container .call-to-action-controls .blur {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-size: cover;
  filter: blur(10px) brightness(1.4);
  margin: unset;
}

.text-editor .media-container .call-to-action-controls button.icons-b:first-of-type {
  margin: auto;
}

.text-editor .media-container .call-to-action-controls .icons-b::before {
  background-size: auto 68%;
  background-size: 40%;
  -webkit-filter: drop-shadow(0px 0px 1px #303030);
}

.text-editor .media-container .call-to-action-controls .post-link {
  display: none;
}

.text-editor .media-container .media {
  width: -webkit-fill-available;
  height: inherit;
  border-radius: inherit;
  display: flex;
}

.text-editor .media-container .media .thumbnail {
  width: -webkit-fill-available;
  height: 100%;
  border-radius: inherit;
  z-index: 2;
}

.text-editor .media-container .media .video-loader {
  width: auto;
  height: 50%;
  z-index: 2;
  visibility: visible;
}

.text-editor .media-container .media .video-loader.hide {
  z-index: -1;
  visibility: hidden;
}

.text-editor .media-container .media video {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: relative;
  opacity: 1;
}

.text-editor .media-container .media video.hide {
  opacity: 0;
}




/* VIDEO PLAYER - TEXT EDITOR */
.text-editor.video-player {
  box-shadow: unset; 
}

.text-editor.dragged.video-player {
  height: fit-content !important;
}

.text-editor.video-player > .header {
  display: none;
}

.text-editor.video-player .parent-container {
  height: fit-content;
  padding: 0%;
  margin: 0px;
}

.text-editor.video-player .parent-container .scroll-container {
  margin-top: 0px !important;
}

.text-editor.video-player .parent-container .scroll-container p {
  line-height: 0px;
  margin: 0px;
  display: none !important;
}

.text-editor.video-player .parent-container .scroll-container .media-container.watched {
  display: none !important;
}






/* INSTAGRAM SHARE */
.text-editor.instagram-share {
  background-color: #f6f5f6;
}

.computer .text-editor.instagram-share {
  width: fit-content;
}

.mobile .text-editor.instagram-share {
  height: auto;
}

.text-editor.instagram-share .blur {
  background-image: unset !important;
}

.text-editor.instagram-share .header .main-controls button {
  background-color: #acabac;
  border: unset;
}

.text-editor.instagram-share .header .top-bar .title {
  color: #747374;
  text-shadow: unset;
}

.text-editor.instagram-share .header .call-to-action-controls > button {
  border: 1px solid #ccc;
  background: linear-gradient(#fcfcfc, #f1f1f1);
  color: #000;
}

.text-editor.instagram-share .parent-container {
  border: 1px solid #cbcbcb;
  padding: 0%;
}

.text-editor.instagram-share .parent-container .poster {
  border-radius: inherit;
  display: block;
  margin: auto;
}

.computer .text-editor.instagram-share .parent-container .poster {
  width: auto;
  height: 100%;
}

.mobile .text-editor.instagram-share .parent-container .poster {
  width: 100%;
  height: auto;
}




/* ERROR EMAIL */
.text-editor.error .scroll-container p {
  visibility: visible;
  display: block;
}

.text-editor.error .scroll-container .section-title {
  width: fit-content;
  font-size: 18px;
  text-transform: uppercase;
  margin: auto;
}

.text-editor.error .scroll-container .section-title.experience {
  margin-top: 40px; 
}

.text-editor.error .scroll-container .code-error span {
  width: fit-content;
  height: fit-content;
  display: block;
  margin: 10px 0px;
}
 
.text-editor.error .scroll-container .user-experience {
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background-color: transparent;
  padding: 2%;
  display: block;
  position: relative;
  outline: none;
  cursor: text;
  margin: 14px auto;
}

.text-editor.error .scroll-container .user-experience.empty::before {
  content: "What happened slime?";
  width: fit-content;
  height: fit-content;
  position: absolute;
}




/* COMPLETED */
.completed .scroll-container {
  margin-top: 0px !important;
  transition: margin-top 1s ease-in-out !important;
} 

.completed .media-container.video-player .header .post-link {
  display: block;
} 

.completed .scroll-container p .highlight { 
  width: fit-content;
  height: fit-content;
}
