* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: -webkit-fill-available;
  height: 100%;
}

/* body.loader::before {
  content: '';
  width: inherit;
  height: inherit;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
  -webkit-animation: body-loader 4.5s linear;
}

@-webkit-keyframes body-loader {
  0% {
    background-color: #eeeeee;
  }
  
  50% {
    background-color: #eeeeee;
  }

  100% {
    background-color: unset;
  }
}

body.loader.opacity::before {
  opacity: 0;
} */

a {
  color: unset;
}

.mac-os {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
  background-image: url('https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Timbuktu%2C%20Mali/Steve%20McCurry%20-%20The%20Sahel%2C%201986.%20A%20group%20of%20young%20men%20pushes%20a%20plane%20out%20of%20the%20mud.jpg');
  background-size: 100%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.mac-os .alert {
  width: -moz-fit-content;
  height: 11%;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 0px 5px #c7c6c6;
  background-color: #f6f5f6;
  padding: 4%;
  font-family: ahamonomonospaced;
  color: #000;
  text-align: center;
}




/* MENU BAR */
.mac-os .menu-bar {
  width: -webkit-fill-available;
  height: 22px;
  box-shadow: inset 0 0 2.13px 0 rgba(0, 0, 0, 0.142), 0 0 0 0.71px #c1c1c1, 0 0 21.3px 0px rgba(0, 0, 0, 0.197);
  background-color: rgba(255, 255, 255, 0.9);
  background-image: inherit;
  background-size: inherit;
  font-size: 14px;
  position: relative;
  flex-shrink: 0;
}

.mac-os .menu-bar::before {
  content: '';
  width: inherit;
  height: inherit;
  background-image: inherit;
  background-size: inherit;
  filter: blur(6px);
  display: block;
  position: absolute;
}

.mac-os .menu-bar::after {
  content: '';
  width: inherit;
  height: inherit;
  background-color: rgba(255, 255, 255, .9);
  position: absolute;
}

.mac-os .menu-bar * {
  z-index: 1;
}

.mac-os .menu-bar .panel {
  width: fit-content;
  height: inherit;
  display: inline-flex;
  position: absolute;
}

.mac-os .menu-bar .panel.left {
  left: 10px;
}

.mac-os .menu-bar .panel.right {
  right: 10px;
}

.mac-os .menu-bar .panel > * {
  width: inherit;
  height: inherit;
  padding: 0px 10px;
  font-size: unset;
  line-height: 1.6;
  display: inline-block;
  position: relative;
}

.mac-os .menu-bar .panel > span {
  user-select: none;
}

.mac-os .menu-bar .panel > .icons-b {
  width: 35px;
}

.mac-os .menu-bar .panel > .icons-b::before {
  width: inherit;
  height: inherit;
  background-size: 15px;
}

.mac-os .menu-bar .panel .name {
  font-weight: bold;
}

.mac-os .menu-bar .panel .notification-center {
  width: 38px;
}

.mac-os .menu-bar .panel .notification-center.icons-b::before {
  background-size: 18px;
}

.mac-os .menu-bar .panel .selected {
  background-color: #026cea;
  color: #ffffff;
}




/* DESKTOP */
.mac-os .desktop {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow: hidden;
  position: relative;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.mac-os .desktop .files-row {  
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow: scroll;
  display: flex;
  flex-flow: column wrap;
  align-content: space-evenly;
} 

.mac-os .desktop .file {
  width: 130px;
  height: 130px;
  display: block;
  margin: 10px;
}

.mac-os .desktop .file.selected {
  opacity: unset;
}

.mac-os .desktop .file * {
  user-select: none;
}

.mac-os .desktop .file a {
  display: block;
}

.mac-os .file .thumbnail-container {
  width: 70px;
  height: 70px;
  display: flex;
  position: relative;
  margin: auto;
}

.mac-os .file.selected .thumbnail-container {
  outline: #a6a6a6 auto 5px;
  border: 1px solid #a6a6a6;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .5);
}

.mac-os .file .thumbnail-container .file-type-indicator {
  width: fit-content;
  height: fit-content;
  font-size: 10px;
  text-shadow: 0px 0px 4px #545454;
}

.mac-os .file .thumbnail-container .file-type-indicator.icons-b {
  width: 40px;
  height: 40px;
}

.mac-os .file.soundcloud .thumbnail-container .file-type-indicator::before {
  background-size: contain;
}

.mac-os .file .thumbnail-container .thumbnail {
  width: auto;
  height: auto;
  max-width: 60px;
  max-height: 60px;
  border: 2px solid #ffffff;
  box-shadow: 0px 1px 5px #4b4b4b;
  margin: auto;
}

.mac-os .file.audio .thumbnail-container .thumbnail {
  border: none;
}

.mac-os .file .title-container {
  overflow: hidden;
  padding: 2px;
  margin-top: 4px;
}

.mac-os .file .title {
  width: fit-content;
  height: fit-content;
  max-height: 16px;
  display: -webkit-box;
  padding: 2px 4px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1;
  text-shadow: 0px 0px 4px #000000;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
  margin: auto;
}

.mac-os .file.selected .title {
  outline: #0168da auto 5px;
  border-radius: 3px;
  background-color: #0168da;
  text-shadow: unset;
}

.mac-os .file.selected .title:nth-child(2) {
  border-radius: 0px 0px 3px 3px;
}




/* SCREENSAVER CREDITS */
.mac-os .screensaver-credits {
  width: 212px;
  height: 20px;
  border-radius: 0px 5px 0px 0px;
  overflow: hidden;
  box-shadow: 0px 0px 5px #c7c6c6;
  background-image: inherit;
  background-size: inherit;
  font: 500 12.4px/normal sans-serif, helvetica, 'ahamonomonospaced';
  color: #ffffff;
  letter-spacing: 0.1px;
  line-height: 1;
  top: auto;
  right: auto;
  left: -218px;
  transition: all 100ms ease-in-out;
}

.screensaver-credits::before {
  content: '';
  width: 120%;
  height: 120%;
  display: block;
  background-image: inherit;
  background-size: inherit;
  filter: blur(10px);
  top: -10%;
  left: -10%;
  position: absolute;
  margin: auto;
}

.screensaver-credits.show {
  left: 0px;
}

.screensaver-credits span {
  width: 100%;
  height: 100%;
  display: block;
  padding: 4px;
  position: absolute;
}




/* NOTIFICATION CENTER MENU */
.mac-os .embed-window  {
  width: 248px;
  height: -webkit-fill-available;
  height: 100%;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background-color: #ffffff;
  background-color: #252525;
  left: auto;
  right: -258px;
  transition: all 200ms ease-in-out;
}

.mac-os .embed-window.cover::before {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: inherit;
  background-size: 10%;
  z-index: 1;
}

.mac-os .embed-window.slide-out {
  right: 0px;
}

.mac-os .embed-window a.twitter-timeline {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: inherit;
  position: absolute;
}




/* TEXT EDITOR */
.text-editor.blurred {
  width: 80%;
  height: 86%;
  max-width: 800px;
  max-height: 650px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 5px #c7c6c6;
  display: flex;
  flex-direction: column;
  background-image: url('https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Timbuktu%2C%20Mali/Steve%20McCurry%20-%20The%20Sahel%2C%201986.%20A%20group%20of%20young%20men%20pushes%20a%20plane%20out%20of%20the%20mud.jpg');
  z-index: 1;
  transition: transform 200ms ease-in-out;
}

.text-editor.blurred::before {
  content: '';
  width: 120%;
  height: 120%;
  background-image: inherit;
  background-size: inherit;
  filter: blur(14px);
  top: -10%;
  left: -10%;
  position: absolute;
}

.text-editor.right-corner {
  max-width: 420px;
  top: 10px;
  right: 10px;
  bottom: auto;
  left: auto;
}

.text-editor.hide {
  transform: scale(0);
}




/* HEADER */
.text-editor .header {
  width: 100%;
  height: 35px;
  border-bottom: none;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}

.text-editor .header .top-bar {
  width: 98.598%;
  height: 20px;
  height: fit-content;
  display: inline-flex;
}




/* MAIN CONTROLS */
.text-editor .header .top-bar .main-controls {
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  right: auto;
  left: 8px;
  margin: auto auto auto 8px;
  flex-shrink: 0;
}

.text-editor .header .main-controls button {
  width: 12px;
  height: 12px;
  border: 1px solid #ffffff !important;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, .1) !important;
  position: relative;
  margin: auto auto auto 0px;
}

.text-editor .header .main-controls .icons-b::before {
  background-size: 6.58px;
}

.text-editor .header .main-controls .close.grey::before {
  opacity: 1;
}




/* TITLE */
.text-editor .header .top-bar .title {
  width: fit-content;
  height: fit-content;
  color: #ffffff;
  text-shadow: 0px 0px 4px #545454;
  text-align: center;
  font: 500 12.4px/normal sans-serif, helvetica, 'ahamonomonospaced';
  letter-spacing: 0.1px;
  margin: auto;
  flex-shrink: 1;
  white-space: nowrap;
}




/* CALL TO ACTION */
.text-editor .header .top-bar .call-to-action-controls {
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  margin: auto 4px auto auto;
  flex-shrink: 0;
  position: relative;
}

.text-editor .header .call-to-action-controls > button {
  width: fit-content;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background: linear-gradient(#fcfcfc, #f1f1f1);
  padding: 2px 8px;
  color: #000;
  position: relative;
  margin: auto auto auto 4px;
}

.text-editor.blurred .header .call-to-action-controls > button {
  background: rgba(255, 255, 255, .1);
  color: #ffffff;
}

.text-editor .header .call-to-action-controls > button.icons-b {
  width: 36px;
}

.text-editor .header .call-to-action-controls > button.icons-b::before {
  background-size: 11px;
}




/* SEARCH BAR */
.search-bar {
  width: 50%;
  height: 26px;
  max-width: 240px;
  outline: none;
  border: 2px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #c7c6c6;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  margin: auto;
  -webkit-appearance: none;
  z-index: 2;
  transition: all 100ms ease-in-out;
}

.search-bar.hide {
  transform: translate(0px, -120%);
}

.blurred .search-bar {
  background-color: rgba(255, 255, 255, .1) !important;
  color: #ffffff;
}

.blurred .search-bar::-webkit-input-placeholder {
  color: white;
}




/* SOCIAL SHARE */
.social-share-container {
  width: 104px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px #adadad;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  transition: all 100ms ease-in-out;
}

.blurred .social-share-container {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.social-share-container.hide {
  transform: translate(0px, -110%);
}

.social-share-container button {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  display: block;
  position: relative;
  margin: auto;
}

.blurred .social-share-container button {
  background: rgba(255, 255, 255, .2);
}




/* CONTENT CONTAINER */
.text-editor .content-container {
  width: -webkit-fill-available;
  height: 100%;
  border: 1px solid #ffffff;
  border-radius: 4px;
  overflow: scroll;
  padding: 5%;
  font-family: ahamonomonospaced;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  margin: 2px;
}

.text-editor .content-container p {
  color: #ffffff;
  text-shadow: 0px 0px 4px #000000;
  word-break: break-word;
  visibility: hidden;
}

.text-editor .content-container p.active::after {
  content: "|";
  color: #000000;
/*   color: #ffffff; */
}

.text-editor .content-container p::selection { 
  background-color: #000;
  color: #fff; 
}

.text-editor .content-container p:first-of-type {
  margin-top: 0px;
}

.text-editor .content-container p.conclusion {
  margin-bottom: 0px;
}

.text-editor .content-container p span.highlight { 
  width: fit-content;
  height: fit-content;
  background-color: #000;
  color: #fff; 
}




/* MEDIA  CONTAINER */
.media-container {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: none;
}

.media-container.video.icons-b:before {
  width: 40px;
  height: 40px;
  background-size: 50%;
  top: auto;
  right: auto;
  z-index: 2;
}

.media-container.video.poster::after {
  content: '';
  width: -webkit-fill-available;
  height: 100%;
  border-radius: inherit;
  background-image: url('https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/Poster/Steve%20Jobs%20At%20NeXT.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  margin: auto;
  z-index: 1;
}

.media-container.video.playing::before {
  background-image: none;
}

.media-container .media {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  display: flex;
}

.media-container .media video {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: relative;
}

.media-container .post-link {
  width: 40px;
  height: 40px;
  background-color: unset;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}

.media-container .post-link::before {
  background-size: 50%;
}




/*  POSTER FOR INSTAGRAM SHARE  */
.text-editor .content-container .image-preview {
  width: auto;
  height: 90%;
  border-radius: inherit;
  display: block;
  margin: auto;
}
