* {
  transition: all 200ms ease-in-out;
}

body .rotate-to-landscape {
  width: inherit;
  height: inherit;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  display: block;
  z-index: 10;
}

body .rotate-to-landscape::before {
  content: 'Please Rotate Your Device To Landscape Mode';
  width: 80%;
  height: fit-content;
  font-family: "Ahamono Monospaced";
  font-family: 'Pricedown', sans-serif;
  color: #f9f9f9;
  text-shadow: 0px 0px 5px #8e8e8e;
  font-size: 30px;
/*   font-size: 34px; */
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  display: block;
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
/*   z-index: 10; */
}

body .rotate-to-landscape > .close {
  width: 12px;
  height: 12px;
  
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, .1);
  background-color: #bababa;
  margin: 10px 10px auto auto;
  z-index: 11;
}

body .rotate-to-landscape > .close::before {
  background-image: url("https://raw.githubusercontent.com/acolorblue/acolorblue.github.io/gh-pages/Design%20Icons/Apple%20Media%20File%20Controls/AMF%20-%20Close%20Icon/Close%20-%20Grey%203.png");
  background-size: 6.58px;
  background-size: 8px;
  -webkit-filter: drop-shadow(0px 0px 1px #303030);
}



.active::after {
  content: "|";
}

button {
  transition: unset;
}
 
/* LOADER */
.loader {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #111111;
  color: #ffffff;
  z-index: 9;
}

.loader::before {
  transition: all 1s ease-in-out;
}

.loader.covered::before {
  content: '';
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: #111111;
/*   background-color: red; */
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: inherit;
  left: inherit;
  z-index: 9;
  opacity: 1;
}

.loader.uncovered::before {
  content: '';
  opacity: 0; 
}

/* TRANSITION UP */
.loader.hide {
/*   -webkit-animation: loader-hide 3s linear 1s; */
  -webkit-animation: loader-hide 3s linear;
}

@-webkit-keyframes loader-hide {  
  0% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, -110%);
  }
}



/* LOADER - GTA */
.loader .gta {
  width: inherit;
  height: inherit;
  background-color: #111;
  position: inherit;
}

.loader .gta * {
  background-repeat: no-repeat;
}


/* FOREGROUND LAYER */
.loader .gta .foreground-layer {
  width: inherit;
  height: inherit;
  z-index: 1;
}

.width-longer .loader .gta .foreground-layer {
  -webkit-transform: translateZ(950px);
}

.loader .gta .foreground-layer .text-logo.gta-5 {
  width: 180px;
  height: 180px;
  background-image: url("https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/1.%20Loader/GTA/Logos/GTA%205%20-%20Comp.png");
  background-size: contain;
  background-position: bottom;
  top: auto;
  right: auto;
  bottom: 20px;
  left: 20px;
}

.loader .gta .foreground-layer .text-logo.kanye-analysis {
  width: 210px;
  height: fit-content;
  font-family: 'Pricedown', sans-serif;
  font-size: 55px;
  line-height: 0.85;
  text-transform: lowercase;
  text-shadow: none;
  -webkit-text-stroke: 2.4px black;
  visibility: hidden;
}

.loader .gta .foreground-layer .text-logo.kanye-analysis.active::after {
  color: #eee;
}

.loader .gta .foreground-layer .icon-logo {
  width: 40px;
  height: 40px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  background-size: contain;
  background-position: center;
}

.loader .gta .foreground-layer .icon-logo.rockstar {
  background-image: url("https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/1.%20Loader/GTA/Logos/Rockstar%20-%20Comp.png");
}

.loader .gta .foreground-layer .icon-logo.good-music {
  background-image: url("https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/1.%20Loader/GTA/Logos/GOOD%20Music%20-%20Comp.png");
}

/* INFORMATION CONTAINER */
.loader .gta .foreground-layer .info-container {
  width: auto;
  height: auto;
  border: 4px solid #000000;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgba(17, 17, 17, .7);
  padding: 1%;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.3;
  color: #ffffff;
  top: auto;
}

.loader .gta .info-container.low-power-mode-alert,
.loader .gta .info-container.open-in-native-browser {
  width: 200px;
  display: none;
}

.loader .gta .info-container.low-power-mode-alert {
  right: auto;
  bottom: 200px;
  left: 20px;
}

.loader .gta .info-container.open-in-native-browser {
  right: 20px;
  bottom: 116px;
  left: auto;
}

.loader .gta .info-container.loading-indicator {
  background-color: #000000;
  right: 20px;
  bottom: 70px;
  left: auto;
}

.loader .gta .info-container.skip-loader {
/*   width: 120px; */
  top: 20px;
  right: 20px;
  bottom: auto;
  left: auto;
  display: none;
}

/* INFORMATION CONTAINER ICONS */
.loader .gta .foreground-layer .info-container .icons-b {
  width: 14px;
  height: 14px;
/*   background-color: red; */
  position: relative;
  display: inline-block;
  margin-top: auto;
  margin-right: 4px;
  margin-bottom: -3px;
  margin-left: 4px;
}

.loader .gta .info-container .icons-b.battery.low-power-mode {
  width: 18px;
  margin-right: 0px;
  margin-left: 0px;
}

.loader .gta .info-container .icons-b.play-station-x {
  margin-left: 0px;
}

.loader .gta .info-container .icons-b::before {
  width: inherit;
  height: inherit;
  background-size: contain;
} 

.loader .gta .info-container .active::after {
  color: #fff;
}


/* BACKGROUND LAYER */
.loader .gta .background-layer {
  width: inherit;
  height: inherit;
}

.loader .gta .background-and-character-container {
  width: inherit;
  height: inherit;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.loader .gta .background-and-character-container.show {
  opacity: 1;
}

.loader .gta .background-and-character-container div {
  background-size: cover;
  background-position: center;
}
 

/* BACKGROUND */ 
.loader .gta .background-and-character-container .background {
  background-position: center;
}

.width-longer .loader .gta .background-and-character-container .background {
  width: 80%;
  height: 80%;
  background-size: contain;
  transform: perspective(211px) rotateX(-1deg) rotateY(2deg) rotateZ(1deg); 
  transform-origin: center center 0px;
  -webkit-animation: computer-background-perspective 22.5s linear;
/*   z-index: 1; */
}

@-webkit-keyframes computer-background-perspective {  
  0% {
    transform: perspective(122px) rotateX(-3deg) rotateY(0deg) rotateZ(-2deg);
  }

  100% { 
    transform: perspective(211px) rotateX(-1deg) rotateY(2deg) rotateZ(1deg);
  }
}

.height-longer .loader .gta .background-and-character-container .background {
  background-size: cover;
}

/* BACKGROUND - IMAGES */
.loader .gta .michael.background-and-character-container .background {
  background-image: url("https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/1.%20Loader/GTA/Backgrounds/Michael%20-%20Comp.jpg");
}

.loader .gta .trevor.background-and-character-container .background {
  background-image: url("https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/1.%20Loader/GTA/Backgrounds/Trevor%20-%20Comp.jpg");
}

.loader .gta .franklin-and-chop.background-and-character-container .background {
  background-image: url("https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/1.%20Loader/GTA/Backgrounds/Franklin%20And%20Chop%20-%20Comp.jpg");
}

.loader .gta .kanye.background-and-character-container .background {
  background-image: url("https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/1.%20Loader/GTA/Backgrounds/Kanye%20-%20Comp.jpg");
}

.height-longer .loader .gta .background-and-character-container .background.move {
  background-position-x: 60%;
  -webkit-animation: background-and-character-move 5s linear;
}

.height-longer .loader .gta .kanye.background-and-character-container .background.move {
  -webkit-animation: background-and-character-move 3s linear;
} 

 

/* CHARACTER */ 
.loader .gta .background-and-character-container .character {
  background-size: contain;
  background-position: bottom;
}

.width-longer .loader .gta .background-and-character-container .character {
  background-size: auto 95%;
  -webkit-transform: translateZ(900px);
} 

.height-longer .loader .gta .background-and-character-container .character {
  background-size: 90% auto;
}

/* CHARACTER - IMAGES */
.loader .gta .michael.background-and-character-container .character {
  background-image: url("https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/1.%20Loader/GTA/Characters/Michael%20-%20Comp.png");
}

.loader .gta .trevor.background-and-character-container .character {
  background-image: url("https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/1.%20Loader/GTA/Characters/Trevor%20-%20Comp.png");
}

.loader .gta .franklin-and-chop.background-and-character-container .character {
  background-image: url("https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/1.%20Loader/GTA/Characters/Franklin%20And%20Chop%20-%20Comp.png");
}

.loader .gta .kanye.background-and-character-container .character {
  background-image: url("https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/1.%20Loader/GTA/Characters/Kanye%20-%20Comp.png");
}

.loader .gta .background-and-character-container .character.move {
  background-position-x: 60%;
  -webkit-animation: background-and-character-move 5s linear;
} 

.loader .gta .kanye.background-and-character-container .character.move {
  -webkit-animation: background-and-character-move 3s linear;
} 

@-webkit-keyframes background-and-character-move {  
  0% {
    background-position-x: 50%;
  }

  100% { 
    background-position-x: 60%;
  }
}

.height-longer .loader .kanye.background-and-character-container .character {
  background-size: auto 90%;
}

@-webkit-keyframes skip-loader {  
  0% {
    background-position-x: 60%;
  }

  100% { 
    background-position-x: 60%;
  }
}




/* MAC OS */
.mac-os {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
  background-image: url("https://raw.githubusercontent.com/acolorblue/a-kanye-west-analysis/master/Images/2.%20Desktop/1.%20Background/Steve%20McCurry%20-%20A%20group%20of%20young%20men%20push%20a%20plane%20out%20of%20the%20mud%2C%20The%20Sahel%2C%201986.jpg");
  background-size: 100%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.mac-os::after {
  content: '';
  position: absolute;
  top: 0px;
  transition: inherit;
}

.mac-os.dim::after {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.mac-os .browser-alert {
  width: -moz-fit-content;
  height: 11%;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 0px 5px #c7c6c6;
  background-color: #f6f5f6;
  padding: 4%;
  font-family: "Ahamono Monospaced";
  color: #000;
  text-align: center;
}

  


/* MENU BAR */
.mac-os .menu-bar {
  width: -webkit-fill-available;
  height: 22px;
  box-shadow: inset 0 0 2.13px 0 rgba(0, 0, 0, 0.142), 0 0 0 0.71px #c1c1c1, 0 0 21.3px 0px rgba(0, 0, 0, 0.197);
  background-color: rgba(255, 255, 255, 0.9);
  background-image: inherit;
  background-size: inherit;
  font-size: 14px;
  position: relative;
  flex-shrink: 0;
  z-index: 3;
}

.mac-os .menu-bar::before {
  content: '';
  width: inherit;
  height: inherit;
  background-image: inherit;
  background-size: inherit;
  filter: blur(6px);
  display: block;
  position: absolute;
}

.mac-os .menu-bar::after {
  content: '';
  width: inherit;
  height: inherit;
  background-color: rgba(255, 255, 255, .9);
  position: absolute;
}

.mac-os .menu-bar * {
  z-index: 1;
}


/* PANEL */
.mac-os .menu-bar .panel {
  width: fit-content;
  height: inherit;
  display: inline-flex;
  position: absolute;
}

.mac-os .menu-bar .panel.left {
  left: 10px;
}

.mac-os .menu-bar .panel.right {
  right: 10px;
}


/* CONTAINER */
.mac-os .menu-bar .panel .section-container {
  width: fit-content;
  height: inherit;
  display: inline-block;
  position: relative;
}


/* CONTAINER - TITLE BUTTON */
.mac-os .menu-bar .section-container > button {
  width: inherit;
  height: inherit;
  padding: 0px 10px;
  font-size: unset;
  line-height: 1.6;
  display: block;
  position: relative;
}

.mac-os .menu-bar .section-container > .icons-b {
  width: 35px;
}

.mac-os .menu-bar .section-container > .icons-b::before {
  width: inherit;
  height: inherit;
  background-size: 15px;
}

.mac-os .menu-bar .section-container .name {
  font-weight: bold;
}

.mac-os .menu-bar .section-container .notification-center {
  width: 38px;
}

.mac-os .menu-bar .section-container .notification-center.icons-b::before {
  background-size: 18px;
}

.mac-os .menu-bar .section-container.selected > button,
.mac-os .menu-bar .section-container.selected > .menu .item:hover {
  background-color: #026cea;
  color: #ffffff;
}


/* CONTAINER - MENU */
.mac-os .menu-bar .section-container .menu {
  width: fit-content;
  height: fit-content;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, .98);
  position: absolute;
  margin-top: 22px;
  top: 0px;
  display: none;
}

.mac-os .menu-bar .panel.left .section-container .menu {
  left: 0px;
}

.mac-os .menu-bar .panel.right .section-container .menu {
  right: 0px;
}

.mac-os .menu-bar .section-container.selected .menu {
  display: block;
}


/* ITEM AND SEPERATOR */
.mac-os .menu-bar .section-container .menu .item {
  width: -webkit-fill-available;
  height: 18px;
  padding: 0px 22px;
  font-size: unset;
  color: #434343;
  text-align: left;
  margin: 4px 0px;
  display: block;
  user-select: none;
  position: relative;
}

.mac-os .menu-bar .section-container .menu .item::before {
  width: 11px;
  height: 11px;
  background-size: contain;
  margin: auto auto auto 5px;
}

.mac-os .menu-bar .section-container .menu .item:first-child {
  margin-top: 7px;
}

.mac-os .menu-bar .section-container .menu .seperator {
  width: -webkit-fill-available;
  height: 2px;
  background-color: #d3d3d399;
  display: block;
  margin: 3px 0px;
}

.mac-os .menu-bar .section-container .menu .item:last-child {
  margin-bottom: 7px;
}


/* MENU - MAIN MENU */
.mac-os .menu-bar .section-container.main-menu .menu {
  height: 250px;
  background-color: #000000;
  overflow: hidden;
}

.mac-os .menu-bar .section-container.main-menu .menu img {
  width: auto;
  height: 100%;
  z-index: 2;
}




/* MENU - DATE AND TIME */
.mac-os .menu-bar .section-container.date-and-time > button * {
  transition: inherit;
}

.mac-os .menu-bar .section-container.date-and-time > .menu {
  width: 276px;
  height: fit-content;
  background-color: rgb(242, 242, 242);
  background-color: rgba(255, 255, 255, .96);
}

.mac-os .menu-bar .section-container.date-and-time > .menu .item.full-date,
.mac-os .menu-bar .section-container.date-and-time > .menu .item.full-date:hover {
  background-color: transparent;
  color: #adadad;
  text-decoration: none; 
  cursor: default;
} 

.mac-os .menu-bar .section-container.date-and-time > .menu .item.location-and-time-preferences {
/*   overflow: hidden; */
}

.mac-os .menu-bar .section-container.date-and-time > .menu .item.location-and-time-preferences .timezones {
  display: none;
}


/* MENU - DATE AND TIME - ANALOG */
.mac-os .menu-bar .section-container.date-and-time > button.analog {
  width: fit-content;
  height: inherit;
}

.mac-os .menu-bar .section-container.date-and-time > button.analog .clock-border {
  width: 16px;
  height: 16px;
  border: 1px solid #000000;
  border-radius: 50%;
  position: relative;
}

.mac-os .menu-bar .section-container.selected.date-and-time > button.analog .clock-border {
  border: 1px solid #ffffff;
}

.mac-os .menu-bar .section-container.date-and-time > button.analog .clock-border .hand {
  width: 1px;
  background-color: #000;
} 

.mac-os .menu-bar .section-container.selected.date-and-time > button.analog .clock-border .hand {
  background-color: #fff;
}

.mac-os .menu-bar .section-container.date-and-time > button.analog .clock-border .hour {
  height: 5px;
  top: auto;
  right: auto;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
/*   transform: rotate(55deg); */
}

.mac-os .menu-bar .section-container.date-and-time > button.analog .clock-border .minute {
  height: 7px;
  top: auto;
  right: auto;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
/*   transform: rotate(7deg); */
}


/* MENU - DATE AND TIME - DIGITAL */
.mac-os .menu-bar .section-container.date-and-time > button.digital {
  width: fit-content;
  height: fit-content;
}




/* MENU - PROFILE */
.mac-os .menu-bar .section-container.profile .menu {
  width: 276px;
  height: 276px;
  background: -webkit-linear-gradient(top, #f0f0f0, #ddd);
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Images/0.%20Brand%20Documents/1.%20Background/Logo%20-%20Background%20-%20Comp.jpg?token=ARSbo9BA45WSq_OcAJG7kORGw4MRGizfks5bfUGMwA%3D%3D");
  background-size: cover;
  background-position: center;
  padding: 42% 0px;
  padding: 30% 0px;
  padding: 20% 0px;
  padding: 25% 0px;
}

.mac-os .menu-bar .section-container.selected.profile .menu {
  display: flex;
  flex-direction: column;
}

.mac-os .menu-bar .section-container.profile .menu .avi {
  width: 80px;
  height: 80px;
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, inset rgba(0, 0, 0, 0.4) 0px 3px 2px;
  background-image: url("https://raw.githubusercontent.com/acolorblue/libraries/master/Images/0.%20Brand%20Documents/2.%20Avi/Logo%20-Foreground%20-%20Comp.jpg?token=ARSbo6bvTp3ny2MOwzTx9BTmiUwO8HeYks5bfUGcwA%3D%3D");
  background-size: cover;
  margin: auto;
}

.mac-os .menu-bar .section-container.profile .menu .username {
  color: #fff;
  text-shadow: 0px 0px 4px #000000;
  margin: auto;
}

.mac-os .menu-bar .section-container.profile .menu .bio {
  border-radius: 5px;
/*   box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.15); */
  box-shadow: 0px 0px 6px #8f8f8f;
  background-color: #ffffff;
  padding: 8px;
  color: #757575;
  font-size: 12px;
  letter-spacing: 0.3px;
  margin: auto;
}



.mac-os .menu-bar .section-container.profile .menu .accounts {
/*   width: 80%; */
/*   border-radius: 45px; */
  display: inline-flex;
  margin: auto;
}

.mac-os .menu-bar .section-container.profile .menu .accounts button.icons-b {
  width: 30px;
  height: 30px;
  width: 18px;
  height: 18px;
  border-radius: 8px;
  margin: auto;
  position: relative;
  display: block;
  background: #000;
  background: #ababab;
  background: transparent;
  margin-right: 40px;

  /*   margin-right: 60px; */
  margin-right: 56px;
}

.mac-os .menu-bar .section-container.profile .menu .accounts button.icons-b:last-child {
  margin-right: 0px;
}

.mac-os .menu-bar .section-container.profile .menu .accounts button.icons-b::before {
/*   background-size: 16px; */
  -webkit-filter: drop-shadow(0px 0px 1px #303030);
  background-size: 18px;
}


/* MENU - NOTIFICATION */
.mac-os .menu-bar .panel.right .section-container.notification .menu {
  width: 248px;
  background-color: #252525;
  display: block;
  right: -258px;
  overflow: hidden;
  transition: height 0ms ease-in-out,
              right 200ms ease-in-out;
}

.mac-os .menu-bar .panel.right .section-container.notification.selected .menu {
  right: -10px;
  border-radius: 0px 0px 0px 0px;
}

.mac-os .menu-bar .panel.right .section-container.notification.selected .menu.cover::before {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: inherit;
  background-size: 10%;
  z-index: 1;
}

.mac-os .menu-bar .panel.right .section-container.notification.selected .menu a.twitter-timeline {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: inherit;
  position: absolute;
}

.mac-os .menu-bar .panel.right .section-container.notification.selected .menu .timeline-Footer {
  display: none !important;
}




/* DESKTOP */
.mac-os .desktop {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow: hidden;
  position: relative;
/*   transform: translate(0); */
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.mac-os .desktop .files-row {  
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow: scroll;
  display: flex;
  flex-flow: column wrap;
  align-content: space-evenly;
} 

.mac-os .desktop .file {
  width: 130px;
  height: 130px;
  display: block;
  margin: 10px;
/*   z-index: 3; */
}

.mac-os .desktop .file * {
  user-select: none;
}

.mac-os .desktop .file a {
  display: block;
}

.mac-os .file .thumbnail-container {
  width: 70px;
  height: 70px;
  display: flex;
  position: relative;
  margin: auto;
}

.mac-os .file.selected .thumbnail-container {
/*   outline: #a6a6a6 auto 5px; */
  border: 1px solid #a6a6a6;
  border-radius: 2px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .5);
}

.mac-os .file .thumbnail-container .file-type-indicator {
  width: fit-content;
  height: fit-content;
  font-size: 10px;
  text-shadow: 0px 0px 4px #545454;
}

.mac-os .file .thumbnail-container .file-type-indicator.icons-b {
  width: 40px;
  height: 40px; 
}
 
.mac-os .file.soundcloud .thumbnail-container .file-type-indicator::before {
  background-size: contain;
  z-index: 1;
}

.mac-os .file .thumbnail-container .thumbnail {
  width: auto;
  height: auto;
  max-width: 60px;
  max-height: 60px;
  border: 2px solid #ffffff;
  box-shadow: 0px 1px 5px #4b4b4b;
  margin: auto;
}

.mac-os .file.audio .thumbnail-container .thumbnail {
  border: none;
}

.mac-os .file .title-container {
  overflow: hidden;
  overflow: scroll;
  padding: 2px;
  margin-top: 4px;
}

.mac-os .file .title {
  width: fit-content;
  height: fit-content;
/*   max-height: 16px; */
  display: -webkit-box;
  padding: 2px 4px;
  padding: 3px 5px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1;
  text-shadow: 0px 0px 4px #000000;
  text-align: center;
  white-space: nowrap;
  margin: auto;
}

.mac-os .file.selected .title {
/*   outline: #0168da auto 5px; */
/*   border: 1px solid #0168da; */
  border-radius: 3px;
/*   padding: 1px; */
  background-color: #0168da;
  text-shadow: unset;
}

.mac-os .file.selected .title:nth-child(2) {
  border-radius: 0px 0px 3px 3px;
  margin-top: -1px;
}




/* SCREENSAVER CREDITS */
.mac-os .screensaver-credits {
  width: auto;
  height: 20px;
  border-radius: 0px 5px 0px 0px;
  overflow: hidden;
  box-shadow: 0px 0px 5px #c7c6c6;
  background-color: rgba(255, 255, 255, .9);
  padding: 4px;
  font: 500 12.4px/normal sans-serif, helvetica, '"Ahamono Monospaced"';
  color: #000000;
  letter-spacing: 0.1px;
  line-height: 1;
  top: auto;
  right: auto;
  left: -218px;
}

.mac-os .screensaver-credits.show {
  left: 0px;
}



 
/* TEXT EDITOR */
.text-editor {
  width: 80%;
  height: 90%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px #333;
  background: rgba(0, 0, 0, .8);
  display: flex;
  flex-direction: column;
  bottom: auto;
  z-index: 2;
/*   opacity: 0; */
  
/*   font-family: '1942 Report' !important; */
}

.computer .text-editor {
  min-width: 328px;
  min-height: 20%;
}

.width-longer .text-editor {
  width: 55%;
  right: auto;
}

.height-longer .text-editor {
  width: 80%;
  top: 10px !important;
  right: 10px !important;
  left: auto !important;
}

.computer .text-editor.dragged {
  height: 90% !important;
}

.text-editor.hide {
  transform: scale(0); 
}

.text-editor ::selection,
.text-editor .highlight { 
  background-color: rgba(255, 255, 255, .9);
  color: rgba(0, 0, 0, .8);
}




/* BLUR */
.text-editor > .blur {
/*   width: -webkit-fill-available;
  height: -webkit-fill-available; */
  filter: blur(20px) brightness(.2);
  position: absolute;
  transition: unset;
}

.text-editor > .blur.cover {
  background-size: cover;
}
 
.text-editor > .blur.contain {
  background-size: contain;
}




/* HEADER */
.text-editor .header {
  width: 100%;
  height: 35px;
  border-bottom: none;
  background-color: transparent;
  flex-shrink: 0;
  z-index: 3;
}

.text-editor > .header {
  position: relative;
}

.text-editor .header .top-bar {
  width: 98.598%;
  
  width: 100%; 
  height: fit-content;
  /*   padding: 0px 0.701%;

    padding: 0px 2%; */
  display: inline-flex;
}




/* MAIN CONTROLS */
.text-editor .header .top-bar .main-controls {
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  right: auto;
  margin: auto auto auto 11.75px;
  flex-shrink: 0;
}

.text-editor .header .main-controls button {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, .1);
  position: relative;
  margin: auto auto auto 0px;
}

.text-editor .header .main-controls .icons-b::before {
  background-size: 6.58px;
  background-size: 6px;
}

.text-editor .header .main-controls .close.grey::before {
  opacity: 1;
}




/* TITLE */
.text-editor .header .top-bar .title {
  width: fit-content;
  height: fit-content;
  max-width: 67%;
  overflow: hidden;
  font: 500 12.4px/normal sans-serif, helvetica, '"Ahamono Monospaced"';
  letter-spacing: 0.1px;
  color: #ffffff;
  text-shadow: 0px 0px 4px #545454;
  text-align: center;
  margin: auto;
  flex-shrink: 1;
  white-space: nowrap;
}

.text-editor .header .top-bar .title .title-scroll {
  width: fit-content;
  height: fit-content;
  white-space: nowrap;
  display: block;
}

.text-editor .header .top-bar .title .title-scroll.ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-editor .header .top-bar .title .title-scroll.overflow {
  margin-right: 50%;
  display: inline-block;
/*   -webkit-animation: title-overflow 10s linear infinite; */
  -webkit-animation: title-overflow 9s linear infinite;
}

@-webkit-keyframes title-overflow {
  0%, 20%, 100% { 
    transform: translateX(0%); 
  }
  
  70% {
/*     transform: translateX(-145%);   */
    transform: translateX(-140%); 
    transform: translateX(-135%);
  }

  70.00001% {
    transform: translateX(0%); 
  }
}




/* CALL TO ACTION */
.text-editor .header .call-to-action-controls {
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  flex-shrink: 0;
}

.text-editor .header .call-to-action-controls > button,
.text-editor .header .call-to-action-controls > a {
  width: fit-content;
  height: 20px;
  border-radius: 4px;
  padding: 2px 8px;
  color: #ffffff;
  line-height: 17px;
  position: relative; 
  margin: auto auto auto 4px;
} 

.text-editor .header .call-to-action-controls > button:first-of-type {
  margin: auto auto auto auto;
} 

.text-editor .header .call-to-action-controls > .icons-b {
  width: 36px;
}


/* CALL TO ACTION IN MAIN HEADER */
.text-editor > .header .call-to-action-controls {
  margin: auto 8px auto auto;
  position: relative;
}

.text-editor > .header .call-to-action-controls > button {
  background: rgba(255, 255, 255, .1);
} 

.text-editor > .header .call-to-action-controls > button.icons-b::before {
  background-size: 11px;
}

.text-editor > .header .text.call-to-action-controls button.credits {
  display: none;
}  



/* SEARCH BAR */
.text-editor .search-bar {
  width: 50%;
  height: 26px;
  max-width: 240px;
  outline: none;
/*   border: 2px solid #ffffff; */
  border-radius: 5px;
  border: unset;
  /* box-shadow: 0px 0px 5px #c7c6c6; */
  background-color: rgba(255, 255, 255, .1);
  color: #ffffff;
  text-align: center;
  display: flex;
  margin: auto;
  -webkit-appearance: none;
  z-index: 2;
}

.text-editor .search-bar.hide {
  transform: translate(0px, -120%);
}

.text-editor .search-bar::-webkit-input-placeholder {
  color: white;
}




/* SOCIAL SHARE */
.text-editor .social-share-container {
  width: 104px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
}

.text-editor .social-share-container.hide {
  transform: translate(0px, -110%);
}

.text-editor .social-share-container button {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  background: rgba(255, 255, 255, .2);
  display: block;
  position: relative;
  margin: auto;
}


 
 
/* CONTENT CONTAINER */
.text-editor .parent-container {
  width: -webkit-fill-available;
  height: 100%;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5%;
  font-family: "Ahamono Monospaced";
  font-size: 14px;
  line-height: 1.4;
  word-break: break-word;
  position: relative;
  margin: 2px;
}

.text-editor .parent-container .scroll-container {
  width: inherit;
  height: fit-content;
  overflow: scroll;
/*   margin-top: 0px !important; */
  
/*   font-family: '1942 Report' !important; */
/*   font-family: 'Traveling Typewriter' !important;
  letter-spacing: 0.6px; */
}




/* PARAGRAPH */
.text-editor .scroll-container p {
  padding: 0px 2px;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  text-shadow: 0px 0px 4px #000000;
  visibility: hidden;
  display: none;
}

.text-editor .scroll-container p.active::after {
  color: #707070;
}
 
.text-editor .scroll-container p.introduction {
  margin-top: 0px;
}


/* IMAGE SLIDE */ 
.text-editor .scroll-container .image-slide {
  width: 74%;
  border-radius: 5px;
  right: 100%;
  left: auto;
  display: none;
}

.text-editor .scroll-container .image-slide.show {
  display: inline;
  z-index: 10;
  -webkit-animation: image-slide-transition 4.5s ease-in-out;
}

.text-editor .scroll-container .image-slide.show.i-know-you-mad {
  -webkit-animation: image-slide-transition 7s ease-in-out infinite;
}
 
@-webkit-keyframes image-slide-transition {
  0% {
    right: -74%;
  }
  
  30%, 70% {
    right: 5%;
  }
  
  100% {
    right: 100%;
  }
}

.text-editor .scroll-container p.conclusion {
  margin-bottom: 0px;
}




/* MEDIA CONTAINER */
.text-editor .scroll-container .media-container {
  width: 100%;
  height: fit-content;

/*   height: 244px;
  height: 100%; */
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .1);
  
  margin: auto;
  position: relative;
  cursor: pointer;
  display: none;
}

.media-container {
  position: relative;
}

.text-editor .media-container .header {
  bottom: auto;
  z-index: 3;
}

.text-editor .media-container .header.hide {
  transform: translate(0%, -100%);
}

.text-editor .media-container .header .top-bar {
  height: inherit;
}

.text-editor .media-container .header .top-bar .main-controls {
  display: none; 
}

.text-editor .media-container .header .top-bar .icons-b::before {
  -webkit-filter: drop-shadow(0px 0px 1px #303030);
}

.text-editor .media-container .top-bar .call-to-action-controls {
  height: inherit;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  padding: 0px 8px;
}

.text-editor .media-container .call-to-action-controls .blur {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-size: cover;
  filter: blur(10px) brightness(1.4);
  margin: unset;
}

.text-editor .media-container .call-to-action-controls button.icons-b:first-of-type {
  margin: auto;
}

.text-editor .media-container .call-to-action-controls .icons-b::before {
  background-size: auto 68%;
  background-size: 40%;
} 

.text-editor .media-container .call-to-action-controls .post-link {
  display: none;
}

.text-editor .media-container .media {
  width: -webkit-fill-available;
  height: inherit;
  border-radius: inherit;
  display: flex;
  
/*   position: relative; */
}

.text-editor .media-container .media .thumbnail {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: 2;
}

.text-editor .media-container .media .video-loader {
  width: auto;
  height: 50%;
  z-index: 2;
  visibility: visible;
}

.text-editor .media-container .media .video-loader.hide {
  z-index: -1;
  visibility: hidden;
}

.text-editor .media-container .media video {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: relative;
  opacity: 1;
}

.text-editor .media-container .media video:hover {
  pointer-events: none;
}

.text-editor .media-container .media video.hide {
  opacity: 0;
}



 
 

/* VIDEO PLAYER - TEXT EDITOR */
.text-editor.video-player {
  box-shadow: unset; 
}

.text-editor.dragged.video-player {
  height: fit-content !important;
}

.text-editor.video-player > .header {
  display: none;
}

.text-editor.video-player .parent-container {
  padding: 0%;
  margin: 0px;
}

.text-editor.video-player .scroll-container {
  display: none;
}

.text-editor.video-player .media-container .header .top-bar .main-controls {
  display: inline-flex; 
}




/* INSTAGRAM SHARE */
.text-editor.instagram-share {
  width: fit-content;
  background-color: #f6f5f6;
}

.text-editor.instagram-share .blur {
  background-image: unset !important;
}

.text-editor.instagram-share .header .main-controls button {
  background-color: #acabac;
  border: unset;
}

.text-editor.instagram-share .header .top-bar .title {
  padding: auto 2px;
  color: #747374;
  text-shadow: unset;
  margin: auto 6px;
}

.text-editor.instagram-share .header .call-to-action-controls > button {
  border: 1px solid #ccc;
  background: linear-gradient(#fcfcfc, #f1f1f1);
  color: #000;
}

.text-editor.instagram-share .parent-container {
  border: 1px solid #cbcbcb;
  padding: 0%;
}

.text-editor.instagram-share .parent-container .poster {
  width: auto;
  height: 100%;
  border-radius: inherit;
  display: block;
  margin: auto;
}




/* WORLD CLOCK */
.world-clock {
  background-color: #fff;
  background-color: #000;
}

.mobile.height-longer .world-clock {
  width: 96%;
  height: 96%;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
}

.world-clock .blur {
  filter: blur(20px) brightness(.0);
}

.world-clock > .header {
/*   background-color: rgba(255, 255, 255, 0.1); */
}

.world-clock > .header button.icons-b {
  background-color: rgba(0, 0, 0, 0.4);
  background-color: #111;
  background: rgba(255, 255, 255, .1);
}

.world-clock > .header .top-bar .title {
  padding: 0px 6px;
/*   color: #111; */
}

.world-clock > .header .call-to-action-controls > button {
  background-color: #111;
  background: linear-gradient(#282828, #000000);
  background: rgba(255, 255, 255, .1);
  color: #ddd;
}



.world-clock .timezones {
  display: flex;
  flex-wrap: wrap;
}

.world-clock .timezones clock {
  width: 160px;
  height: 200px;
  
/*       width: 180px;
    height: 220px; */
  display: block;
  margin: auto auto 15px auto;  
} 

.mobile.height-longer .world-clock .timezones clock {
  width: 190px;
  height: 230px;
  
/*   width: 48%; */
  
/*   background-color: grey;
  background-color: #000000;
  background-color: red; */
} 

.width-longer .world-clock .timezones clock {
  width: 170px;
  height: 200px;
  display: block;
  margin: auto;
  padding: 0px 5px;
  margin: auto auto 15px auto;
} 


/* WORLD CLOCK - CLOCK DESIGN */
.world-clock .timezones clock .border {
  width: 160px;
  height: 160px;
  
/*   width: 180px;
  height: 180px; */
  border: 2px solid #ffffff;
  border-radius: 50%;
/*   box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  box-shadow: 0 0 14px #7e7e7e; */
  background-size: cover;
  background-position: center;
  margin: auto;
  position: relative;
}

.mobile.height-longer .world-clock .timezones clock .border {
/*   width: 190px;
  height: 190px; */
  
  width: 95%;
  
  width: 185px;
  height: 185px;
}


/* WORLD CLOCK - BACKGROUND */
.world-clock .timezones clock.accra-ghana .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Accra%2C%20Ghana/Pieter%20Hugo%20-%20Permanent%20Error%2C%20Ghana%20-%20Compressed.jpg");
}

.world-clock .timezones clock.addis-ababa-ethiopia .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Addis%20Ababa%2C%20Ethiopia/Danakil%20Desert%2C%20Northern%20Ethiopia%20-%20Compressed.jpg");
}
  
.world-clock .timezones clock.algiers-algeria .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Algiers%2C%20Algeria/A.%20Abbas%20-%20Masked%20ninjas%20of%20the%20Gendarmerie%20search%20youths%20for%20weapons%2C%20Algeria%2C%20Algiers%2C%201995%20-%20Compressed.jpg");
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Algiers%2C%20Algeria/Unidentified%20-%20Algiers%2C%20Algeria%20-%20Compressed.jpg");
}
 
.world-clock .timezones clock.antananarivo-madagascar .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Antananarivo%2C%20Madagascar/Marsel%20van%20Oosten%20-%20800%20year%20old%20Baobab%20trees%20in%20Madagascar%20-%20Compressed.JPG");
}

.world-clock .timezones clock.asmara-eritrea .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Asmara%2C%20Eritrea/Unidentified%20-%20Dahlak%20Hotel%2C%20Massawa%2C%20Eritrea%20-%20Compressed.jpg");
}

.world-clock .timezones clock.bangui-central-african-republic .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Bangui%2C%20Central%20African%20Republic/Unidentified%20-%20Central%20African%20Republic%20-%20Compressed.jpg");
  background-position: left;
}

.world-clock .timezones clock.banjul-gambia .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Banjul%2C%20Gambia/Unindentified%20-%20Fighters%20of%20PAIGC%20during%20Guinea%20and%20Cape%20Verde%E2%80%99s%20war%20of%20independence%20-%20Compressed.jpg");
}

.world-clock .timezones clock.bissau-guinea-bissau .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Bissau%2C%20Guinea-Bissau/Unidentified%20-%20Women%20in%20the%20Guinea%20Bissau%20National%20Liberation%20Struggle%20-%20Compressed.jpg");
}

.world-clock .timezones clock.brazzaville-congo .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Brazzaville%2C%20Congo/Unidentified%20-%20Patrice%20Lumumba%20arrested%20and%20then%20murdered%20on%20Jan.%2017%2C%201961%20-%20Compressed.jpg");
}

.world-clock .timezones clock.bujumbura-burundi .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Bujumbura%2C%20Burundi/Spencer%20Platt%20-%20Boys%20play%20at%20a%20beach%20on%20June%2027%2C%202015%2C%20in%20Bujumbura%2C%20Burundi%20-%20Compressed.jpg");
}

.world-clock .timezones clock.cairo-egypt .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Cairo%2C%20Egypt/Unidentified%20-%20Louis%20Armstrong%20plays%20for%20his%20wife%20Lucille%20in%20front%20of%20the%20Sphinx%20in%20Giza%201961%20-%20Compressed.jpg");
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Cairo%2C%20Egypt/Unidentified%20-%20A%20limonade%20salesman%20in%20the%20souk%2C%20Cairo%2C%20Egypt%2C%202000%20-%20Compressed.jpg");
}

.world-clock .timezones clock.casablanca-morocco .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Casablanca%2C%20Morocco/Unidentified%20-%20Casablanca%2C%20Morocco%2C%202016%20-%20Compressed.jpg");
}

.world-clock .timezones clock.conakry-guinea .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Conakry%2C%20Guinea/Alex%20Webb%20-%20Guinea%201%20-%20Compressed.jpg");
}

.world-clock .timezones clock.dakar-senegal .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Dakar%2C%20Senegal/Bruno%20Barbey%20-%20Saint-Louis%2C%20Senegal%201980%20-%20Compressed.jpg");
}

.world-clock .timezones clock.djibouti-djibouti .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Djibouti%2C%20Djibouti/Unidentified%20-%20Djibouti%2C%20October%201978%20-%20Compresssed.jpg");
}

.world-clock .timezones clock.dodoma-tanzania .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Dodoma%2C%20Tanzania/Chris%20Steele-Perkins%20-%20Tanzania%2C1989%20-%20Compressed.jpg");
}

.world-clock .timezones clock.freetown-sierraleone .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Freetown%2C%20Sierra%20Leone/Michel%20Du%20Cille%20-%20Man%20helped%20with%20cigarette%20from%20his%20grandson%2C%201999%20-%20Compressed.jpg");
}

.world-clock .timezones clock.gaborone-botswana .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Gaborone%2C%20Botswana/Frans%20Lanting%20-%20Mother%20and%20child%20traverse%20the%20Okavango%20River%20-%20Compressed.jpg");
}

.world-clock .timezones clock.harare-zimbabwe .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Harare%2C%20Zimbabwe/Alain%20Keler%20-%20Zimbabwe%2C1983%20-%20Compressed.png");
}

.world-clock .timezones clock.jamestown-sainthelena .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Jamestown%2C%20Saint%20Helena/David%20Stanley%20-%20Jamestown%2C%20Saint%20Helena%20-%20Compressed.jpg");
}

.world-clock .timezones clock.juba-southsudan .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Juba%2C%20South%20Sudan/Kiden%20-%20South%20Sudan%20-%20Compressed.jpg");
}

.world-clock .timezones clock.kampala-uganda .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Kampala%2C%20Uganda/Yann%20Gross%20-%20Skatepark%20in%20Kampala%20%2C%20Uganda%2C%202008%20-%20Compressed.jpg");
}

.world-clock .timezones clock.khartoum-sudan .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Khartoum%2C%20Sudan/Roberto%20Caputo%20-%20Sudan%2C%20Crucible%20Of%20Cultures%20-%20Compressed.jpg");
}

.world-clock .timezones clock.kigali-rwanda .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Kigali%2C%20Rwanda/Unidentified%20-%20Young%20Tutsi%20boys%20dance%20and%20reenact%20bow-and-arrow%20combat%2C%20Rwanda%2C%201939%20-%20Compressed.jpg");
}

.world-clock .timezones clock.kinshasa-dem-rep-of-congo .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Kinshasa%2C%20Dem%20Republic%20Of%20Congo/Stuart%20franklin-and-chop%20-%20Street%20life%20in%20Kinshasa%2C%20Dem%20Rep%20Of%20Congo%2C%202004%20-%20Compressed.jpg");
}

.world-clock .timezones clock.lagos-nigeria .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Lagos%2C%20Nigeria/Alex%20Majoli%20-%20Lagos%2C%20Nigeria%2C%202013%20-%20Compressed.jpg");
/*   background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Lagos%2C%20Nigeria/Stuart%20franklin-and-chop%20-%20A%20throughfare%20for%20fisherman%20who%20build%20houses%20above%20it%20waters%2C%20Lagos%2C%20Nigeria%2C%202002%20-%20Compressed.jpg"); */
}

.world-clock .timezones clock.libreville-gabon .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Libreville%2C%20Gabon/Bruno%20Barbey%20-%20Boys%20ride%20bicycles%20on%20a%20country%20road%20near%20Booue%20-%20Compressed.jpg");
/*   background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Libreville%2C%20Gabon/Bruno%20Barbey%20-%20Bumper%20cars%20at%20a%20children%E2%80%99s%20funfair%20in%20Libreville%2C%20Gabon.jpg"); */
}

.world-clock .timezones clock.lilongwe-malawi .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Lilongwe%2C%20Malawi/Zach%20Louw%20-%20In%20Cape%20Maclear%2C%20Lake%20Malawi%20-%20Compressed.jpg");
}

.world-clock .timezones clock.lome-togo .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Lome%2C%20Togo/Unidentified%20-%20The%20H%C3%B4tel%20de%20la%20Paix%2C%20Togo%20-%20Compressed.jpg");
}

.world-clock .timezones clock.luanda-angola .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Luanda%2C%20Angola/John%20Fink%20-%20Students%20having%20class%20in%20a%20destroyed%20school%2C%20Angola%2C%201997%20-%20Compressed.jpg");
}
 
.world-clock .timezones clock.lusaka-zambia .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Lusaka%2C%20Zambia/Annie%20Griffiths%20-%20Looking%20over%20the%20edge%20of%20Victoria%20Falls%20from%20a%20swimming%20hole%2C%20Zambia%20%20-%201%20-%20Compressed.jpg");
/*   background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Lusaka%2C%20Zambia/Annie%20Griffiths%20-%20Looking%20over%20the%20edge%20of%20Victoria%20Falls%20from%20a%20swimming%20hole%2C%20Zambia%20-%202.jpg"); */
  background-position: left;  
} 
 
.world-clock .timezones clock.malabo-equatorial-guinea .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Malabo%2C%20Equatorial%20Guinea/Ariel%20Schalit%20-%20A%20child%20carries%20plastic%20tables%20to%20a%20fish%20market%2C%20Bata%2C%20Equatorial%20Guinea%20-%20Compressed.jpg");
}

.world-clock .timezones clock.maputo-mozambique .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Maputo%2C%20Mozambique/Alex%20Webb%20-%20Scenes%20from%20around%20the%20village%2C%20Moma%2C%20Mozambique%2C%202002%20-%20Compressed.png");
}

.world-clock .timezones clock.maseru-lesotho .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Maseru%2C%20Lesotho/Ian%20Berry%20-%20Boy%20playing%20oil%20can%20guitar%20in%20the%20burnt%20ruins%20of%20his%20home%20during%20racial%20riot%2C%20Maseru%2C%201961%20-%20Compressed.jpg");
}

.world-clock .timezones clock.mbabane-swaziland .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Mbabane%2C%20Swaziland/Unidentified%20-%20The%20wedding%20morning%20of%20Princess%20Mantfombi%20in%20KwaZulu%2C%20Swaziland%2C%201978%20-%20Compressed.jpg");
}

.world-clock .timezones clock.mogadishu-somalia .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Mogadishu%2C%20Somalia/Unidentified%20-%20Jowhar%2C%20Somalia%20-%20Compressed.jpg");
}

.world-clock .timezones clock.monrovia-liberia .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Monrovia%2C%20Liberia/Tim%20Hetherington%20-%20A%20young%20armed%20fighter%20of%20the%20LURD%20smokes%20a%20cigarette%20on%20the%20hill%20top%20compound%20-%20Compressed.jpg");
}

.world-clock .timezones clock.moroni-comoros .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Moroni%2C%20%20Comoros/Unidentified%20-%20Moroni%2C%20Comoros%20-%20Compressed.jpg");
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Moroni%2C%20%20Comoros/Jose%20Cendon%20-%20Moroni%2C%20Comoros%20-%20Compressed.jpg");
}

.world-clock .timezones clock.nairobi-kenya .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Nairobi%2C%20Kenya/Alex%20Webb%20-%20Shella%20in%20Luma%2C%20Kenya%2C%201984%20-%20Compressed.jpg");
}

.world-clock .timezones clock.ndjamena-chad .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Ndjamena%2C%20Chad/Chris%20Steele-Perkins%20-%20Racetrack%20in%20Chad%2C%201985%20-%20Compressed.jpg");
}

.world-clock .timezones clock.niamey-niger .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Niamey%2C%20Niger/Steve%20McCurry%20-%20Young%20Wadabi%20men%20taking%20part%20in%20the%20annual%20Garawal%2C%20Niger%2C%201986%20-%20Compressed.jpg");
}

.world-clock .timezones clock.nouakchott-mauritania .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Nouakchott%2C%20Mauritania/Jody%20MacDonald%20-%20Mauritania%20-%20Compressed.jpg");
}

.world-clock .timezones clock.ouagadougou-burkina-faso .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Ouagadougou%2C%20Burkina%20Faso/David%20Pace%20-%20Karaba%20brick%20quarry%20in%20Burkina%20Faso%20-%20Compressed.png");
}

.world-clock .timezones clock.port-louis-mauritius .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Port%20Louis%2C%20Mauritius/A.%20Abbas%20-%20A%20muslim%20bride%E2%80%99s%20hand%20decorated%20with%20henna%20patterns%20in%20Port%20Louis%2C%201992%20-%20Compressed.jpg");
}

.world-clock .timezones clock.porto-novo-benin .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Porto%20Novo%2C%20Benin/Joseph%20Moise%20Agbodjelou%20-%20Untitled%2C%201960%20-%20Compressed.png");
}

.world-clock .timezones clock.praia-cabo-verde .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Praia%2C%20Cabo%20Verde/Unidentified%20-%20Praia%2C%20Cabo%20Verde%20-%20Compressed.jpg");
}

.world-clock .timezones clock.pretoria-south-africa .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Pretoria%2C%20South%20Africa/Greg%20Marinovich%20-%20South%20Africa%2C%201992%20-%20Compressed.jpg");
}

.world-clock .timezones clock.saint-denis-reunion .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Saint-Denis%2C%20R%C3%A9union/Unidentified%20-%20Saint%20Denis%2C%20Reunion%20-%20Compressed.jpg");
}

.world-clock .timezones clock.sao-tome-principe .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/S%C3%A3o%20Tom%C3%A9%2C%20Sao%20Tome%20and%20Principe/Alex%20Webb%20-%20Cocoa%20child%20workers%20play%20infront%20of%20a%20ruined%20plantation%20house%2C%20%202002%20-%20Compressed.jpg");
}

.world-clock .timezones clock.timbuktu-mali .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Timbuktu%2C%20Mali/A.%20Abbas%20-%20Mali%2C%201996%20-%20Compressed.jpg");
}

.world-clock .timezones clock.tripoli-libya .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Tripoli%2C%20Libya/Unidentified%20-%20Libya%2C%201957%20-%20Compressed.jpg");
}

.world-clock .timezones clock.tunis-tunisia .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Tunis%2C%20Tunisia/Harry%20Gruyaert%20-%20Nearby%20area%20of%20Sidi%20Bou%2C%20Tunis%2C%201995%20-%20Compressed.png");
/*   background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Tunis%2C%20Tunisia/Unidentified%20-%20Tunisia%20-%201%20-%20Compressed.jpg"); */
}

.world-clock .timezones clock.victoria-seychelles .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Victoria%2C%20Seychelles/Unidentified%20-%20Victoria%2C%20Seychelles%20-%20Compressed.jpg");
}

.world-clock .timezones clock.windhoek-namibia .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Windhoek%2C%20Namibia/Thijs%20Heslenfeld%20-%20Namibia%20-%20Compressed.jpg");
}

.world-clock .timezones clock.yamoussoukro-ivory-coast .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Yamoussoukro%2C%20Ivory%20Coast/Eliot%20Elisofon%20-%20The%20hands%20of%20Dignitary%20N%E2%80%99Goran%20Koffi%20in%20Village%20Dignitary%2C%20Ivory%20Coast%20-%20Compressed.png");
}

.world-clock .timezones clock.yaounde-cameroon .border {
  background-image: url("https://raw.githubusercontent.com/acolorblue/worldclock/master/Africa/Yaounde%2C%20Cameroon/Harry%20Gruyaert%20-%20Training%20feild%20of%20the%20Canon%20of%20Yaound%C3%A9%2C%20from%20which%20many%20famous%20players%20come%20-%20Compressed.jpg");
}

 
 
/* WORLDCLOCK - HANDS */
.world-clock .timezones clock .border .knob {
  width: 6px;
  height: 6px;
/*   width: 8px;
  height: 8px; */
/*   width: 7px;
  height: 7px; */
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
}

.world-clock .timezones clock .border .hand {
  width: 2px;
  background-color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  top: auto;
  right: auto;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transition: unset;
}

.world-clock .timezones clock .border .hour {
  height: 45px;
  height: 40px;
  height: 50px;
  width: 4px;
  width: 3px;
  width: 2.5px;
}

.world-clock .timezones clock .border .minute {
  height: 60px;
  height: 56px;
  height: 65px;
  width: 3px;
  width: 2.5px;
}

.world-clock .timezones clock .border .second {
  height: 65px;
  height: 70px;
  width: 2px;
}

.world-clock .timezones clock .title {
  width: fit-content;
  height: fit-content;
  max-width: 100%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  display: block;
  margin: 7px auto auto auto;
}




/* ERROR EMAIL */
.text-editor.error .scroll-container p {
  visibility: visible;
  display: block;
}

.text-editor.error .scroll-container .section-title {
  width: fit-content;
  font-size: 18px;
  text-transform: uppercase;
  margin: auto;
}

.text-editor.error .scroll-container .section-title.experience {
  margin-top: 40px; 
}

.text-editor.error .scroll-container .code-error span {
  width: fit-content;
  height: fit-content;
  display: block;
  margin: 10px 0px;
}
 
.text-editor.error .scroll-container .user-experience {
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background-color: transparent;
  padding: 2%;
  display: block;
  position: relative;
  outline: none;
  cursor: text;
  margin: 14px auto;
}

.text-editor.error .scroll-container .user-experience.empty::before {
  content: "What happened slime?";
  width: fit-content;
  height: fit-content;
  position: absolute;
}




/* COMPLETED */
.text-editor.completed > .header .text.call-to-action-controls button.credits {
  display: block;
}  

.text-editor.completed .scroll-container {
  margin-top: 0px !important;
  transition: margin-top 1s ease-in-out !important;
} 

.text-editor.completed .media-container .header .post-link {
  background-color: unset;
  display: block;
} 

.text-editor.completed .scroll-container p .highlight { 
  width: fit-content;
  height: fit-content;
}
